registry=https://registry.devopsnonprd.vayuktbcs:8443/repository/npm-registry/
strict-ssl=false
//registry.devopsnonprd.vayuktbcs:8443/repository/npm-registry/:_auth="ZTJlbHVzZXIwMTplMmVsdXNlcjAxb25seQ=="
