{"openapi":"3.0.1","info":{"title":"KTB Backend for Frontend APIs.","description":"Microservice: auction","contact":{"name":"Krungthai Bank Public Company Limited","url":"https://krungthai.com","email":""},"version":"1.0.0"},"servers":[{"url":"https://lexsdev.krungthai/ktb/rest/lexs","description":"Generated server url"}],"security":[{"Authorization":["token"]}],"paths":{"/v1/auction/{aucRef}/re-process":{"post":{"tags":["auction-controller"],"operationId":"submitReProcessReason","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionReasonRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/not-process":{"post":{"tags":["auction-controller"],"operationId":"submitNotProcessReason","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionReasonRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/litigation-case/unmatch":{"post":{"tags":["auction-controller"],"operationId":"unmatchAuctionLitigationCase","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdjustSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/litigation-case/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionLitigationCase","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/litigation-case/match":{"post":{"tags":["auction-controller"],"operationId":"auctionMatch","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionMatchRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/litigation-case/adjust-submit":{"post":{"tags":["auction-controller"],"operationId":"adjustSubmitAuctionLitigationCase","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdjustSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/documents/upload":{"post":{"tags":["auction-controller"],"operationId":"documentUpload","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"documentTemplateId","in":"query","required":true,"schema":{"type":"string"}},{"name":"documentGroup","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionDocumentUploadResponse"}}}}}}},"/v1/auction/{aucRef}/deed-info/match":{"post":{"tags":["auction-controller"],"operationId":"postDeedInfoMatch","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionDeedInfoMatchRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/{aucRef}/create-announce/submit":{"post":{"tags":["auction-controller"],"operationId":"submitCreateAnnounce","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCreateAnnounceSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCreateAnnounceSubmitResponse"}}}}}}},"/v1/auction/submitCommitteeResolution":{"post":{"tags":["auction-controller"],"operationId":"submitCommitteeResolution","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolutionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommitteeResolutionResponse"}}}}}}},"/v1/auction/external-payment-tracking/{externalPaymentTrackingId}/submit":{"post":{"tags":["auction-controller"],"operationId":"externalPaymentTrackingSubmit","parameters":[{"name":"externalPaymentTrackingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/auction/external-payment-tracking-deed-group/{externalPaymentTrackingDeedGroupId}":{"post":{"tags":["auction-controller"],"operationId":"externalPaymentTrackingDeedGroup","parameters":[{"name":"externalPaymentTrackingDeedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalPaymentTrackingDeedGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/expense/validate":{"post":{"tags":["auction-controller"],"operationId":"validateAuctionExpenses","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateAuctionExpensesRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/expense/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionExpense","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionExpenseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionExpenseResponse"}}}}}}},"/v1/auction/expense/document/upload":{"post":{"tags":["auction-controller"],"operationId":"uploadAuctionLedsDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadAuctionLedsDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionUploadDocumentResponse"}}}}}}},"/v1/auction/execution/tasks/{taskId}/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionAssignLawyer","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitAuctionAssignLawyerRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/document/download-suspend-auction-template":{"post":{"tags":["auction-document-controller"],"operationId":"downloadSuspendAuctionTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuspendAuctionDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.wordprocessingml.document":{"schema":{"type":"string","format":"byte"}}}}}}},"/v1/auction/debt-settlement-account/submit":{"post":{"tags":["debt-settlement-account-controller"],"operationId":"submitAuctionDebtSettlement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionDebtSettlementRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/debt-settlement-account/cheque-amount":{"post":{"tags":["debt-settlement-account-controller"],"operationId":"reCalculateAuctionDebtSettlementAccountChequeAmount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionDebtSettlementAccountUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebtSettlementAccountResponse"}}}}}}},"/v1/auction/conveyance/mas/TransferOfPropertyCallbackService":{"post":{"tags":["conveyance-controller"],"operationId":"transferOfProperty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferOfPropertyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferOfPropertyResponse"}}}}}}},"/v1/auction/conveyance/mas/AppointmentCallbackService":{"post":{"tags":["conveyance-controller"],"operationId":"postAppointmentCallback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppointmentCallbackRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppointmentCallbackResponse"}}}}}}},"/v1/auction/conveyance/document-uploads/{conveyanceDocUploadId}/result-recording/tasks/{taskId}/submit":{"post":{"tags":["conveyance-controller"],"operationId":"auctionResultRecordingSubmit","parameters":[{"name":"conveyanceDocUploadId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionResultRecordingSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/conveyance/appointment/{appointmentId}/save":{"post":{"tags":["conveyance-controller"],"operationId":"saveConveyanceAppointment","parameters":[{"name":"appointmentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceAppointmentSaveRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"deprecated":true}},"/v1/auction/conveyance/appointment/check-appointment":{"post":{"tags":["conveyance-controller"],"operationId":"checkAppointment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckAppointmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckAppointmentResponse"}}}}},"deprecated":true}},"/v1/auction/conveyance/announces/{aucRef}/document-uploads":{"get":{"tags":["conveyance-controller"],"operationId":"getConveyanceDocumentUploads","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceDocumentUploadResponse"}}}}}},"post":{"tags":["conveyance-controller"],"operationId":"postConveyanceDocumentUpload","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceUploadDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceUploadDocumentResponse"}}}}}}},"/v1/auction/conveyance/announces/{aucRef}/document-uploads/validate":{"post":{"tags":["conveyance-controller"],"operationId":"validateDocumentConveyanceUploads","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocConveyanceUploadValidationResponse"}}}}}}},"/v1/auction/conveyance/announces/{aucRef}/account-documents/validate":{"post":{"tags":["conveyance-controller"],"operationId":"validateAccountDocumentFollowupProcess","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentValidationResponse"}}}}}}},"/v1/auction/conveyance/account-documents/{accountDocFollowUpId}/result-recording/tasks/{taskId}/submit":{"post":{"tags":["conveyance-controller"],"operationId":"postResultRecordingTasksSubmit","parameters":[{"name":"accountDocFollowUpId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentResultRecordingRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/conveyance/account-documents/{accountDocFollowUpId}/result-recording/tasks/{taskId}/approval":{"post":{"tags":["conveyance-controller"],"operationId":"approveAccountDocumentFollowUpTask","parameters":[{"name":"accountDocFollowUpId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentFollowUpTaskApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/conveyance/account-documents/result-recording":{"post":{"tags":["conveyance-controller"],"operationId":"postResultRecording","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentResultRecordingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceAccountDocumentsResultRecordingResponse"}}}}}}},"/v1/auction/collateral/validate":{"post":{"tags":["auction-controller"],"operationId":"collateralValidate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCollateralValidateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/collateral/match":{"post":{"tags":["auction-controller"],"operationId":"collateralMatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCollateralMatchRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/cashier-cheque/transfer-ownership/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionCashierChequeTransferOwnership","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierTransferOwnershipSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierTransferOnwershipSubmitResponse"}}}}}}},"/v1/auction/cashier-cheque/stamp-duty/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionCashierChequeStampDuty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierStampDutySubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierStampDutySubmitResponse"}}}}}}},"/v1/auction/cashier-cheque/collaterals/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionCashierSubmit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierCollateralRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierCollateralResponse"}}}}}}},"/v1/auction/cashier-cheque/additional-payment/validate":{"post":{"tags":["auction-controller"],"operationId":"validateAdditionalPayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionAdditionalPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionAdditionalPaymentResponse"}}}}}}},"/v1/auction/cashier-cheque/additional-payment/submit":{"post":{"tags":["auction-controller"],"operationId":"submitAuctionCashierAdditionalPayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierAdditionalPaymentSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierAdditionalPaymentSubmitResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/result":{"get":{"tags":["auction-bidding-controller"],"operationId":"getAuctionBiddingResultResponse","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingResultResponse"}}}}}},"post":{"tags":["auction-bidding-controller"],"operationId":"auctionBiddingResult","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingResultsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingResultsResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/result-recording/tasks/{taskId}/submit":{"post":{"tags":["auction-bidding-controller"],"operationId":"auctionBiddingResultRecordingTasksSubmit","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingResultRecordingTasksSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingResultRecordingTasksSubmitResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/documents/upload":{"post":{"tags":["auction-bidding-controller"],"operationId":"biddingsDocumentsUpload","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentGroup","in":"query","required":true,"schema":{"type":"string"}},{"name":"documentTemplateId","in":"query","required":true,"schema":{"type":"string"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/BiddingsDocumentsUploadRequest"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiddingsDocumentsUploadResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/deed-groups/{deedGroupId}/returnDocument":{"post":{"tags":["auction-bidding-controller"],"operationId":"updateBiddingByAucBiddingIdAndDeedGroupId","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingDocumentResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/deed-groups/{aucBiddingDeedGroupId}/documents/upload":{"post":{"tags":["auction-bidding-controller"],"operationId":"biddingsDeedGroupsDocumentsUpload","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"aucBiddingDeedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"documentGroup","in":"query","required":true,"schema":{"type":"string"}},{"name":"documentTemplateId","in":"query","required":true,"schema":{"type":"string"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/BiddingsDocumentsUploadRequest"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiddingsDocumentsUploadResponse"}}}}}}},"/v1/auction/announces/excel":{"post":{"tags":["auction-controller"],"operationId":"announcesExcel","parameters":[{"name":"aucStatus","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"matchStatus","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"auctionAnnounceSource","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionAnnounceSearchConditionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageAuctionAnnounceExcelDto"}}}}}}},"/v1/auction/announce-validate":{"post":{"tags":["auction-controller"],"operationId":"getValidateAnnounce","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnounceValidateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnounceValidateResponse"}}}}}}},"/v1/auction/{ledId}/{litigationCaseId}":{"get":{"tags":["auction-controller"],"operationId":"inquirySeizureInfoByLedIdAndLitigationCaseId","parameters":[{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeizureInfoResponse"}}}}}}},"/v1/auction/{aucRef}/lexs-collateral/{litigationCaseId}/{ledId}":{"get":{"tags":["auction-controller"],"operationId":"inquirySeizureInfo","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionLexsCollateralResponse"}}}}}}},"/v1/auction/{aucRef}/deed-info/{deedGroupNo}":{"get":{"tags":["auction-controller"],"operationId":"getAuctionDeedInfo","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deedGroupNo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionDeedInfoResponse"}}}}}}},"/v1/auction/{aucRef}/create-announce":{"get":{"tags":["auction-controller"],"operationId":"getCreateAnnounce","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAnnounceResponse"}}}}}}},"/v1/auction/{aucRef}/collaterals":{"get":{"tags":["auction-controller"],"operationId":"getAuctionCollateral","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionDetailsDto"}}}}}}},"/v1/auction/preferential/order/{litigationCaseId}/leds/{ledId}":{"get":{"tags":["auction-controller"],"operationId":"getPreferentialOrders","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferentialOrderInfo"}}}}}}},"/v1/auction/npa/{aucRef}/resolutions/latest":{"get":{"tags":["auction-controller"],"operationId":"getAuctionResolutionsLatest","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionResolutionLatestDto"}}}}}}},"/v1/auction/npa/{aucRef}/resolutions/history":{"get":{"tags":["auction-controller"],"operationId":"getAuctionResolutionsHistory","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionResolutionHistoryResponse"}}}}}}},"/v1/auction/npa/deedGroups/{deedGroupId}/resolutions/latest":{"get":{"tags":["auction-controller"],"operationId":"inquiryLatestResolutionInfo","parameters":[{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestResolutionInfoResponse"}}}}}}},"/v1/auction/litigation/{litigationId}/legal-executions/auction/litigation-case-leds":{"get":{"tags":["auction-controller"],"operationId":"inquiryLedInfo","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedInfoResponse"}}}}}}},"/v1/auction/litigation/{litigationId}/legal-executions/auction/litigation-case-leds/preferential":{"get":{"tags":["auction-controller"],"operationId":"inquiryLedInfoPreferential","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedInfoResponse"}}}}}}},"/v1/auction/litigation-case/{litigationCaseId}/leds/{ledId}/debt-settlement-account/process":{"get":{"tags":["auction-litigation-case-controller"],"operationId":"getAuctionLitigationCaseDebtSettlementAccountProcess","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLigationCaseDebtSettlementAccountResponse"}}}}}}}},"/v1/auction/litigation-case/{litigationCaseId}/leds/{ledId}/debt-settlement-account/complete":{"get":{"tags":["auction-litigation-case-controller"],"operationId":"getAuctionLitigationCaseDebtSettlementAccountComplete","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLigationCaseDebtSettlementAccountResponse"}}}}}}}},"/v1/auction/litigation-case/{litigationCaseId}/leds/{ledId}/conveyance/process":{"get":{"tags":["auction-litigation-case-controller"],"operationId":"getAuctionLitigationCaseConveyanceProcess","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLitigationConveyanceProcessDto"}}}}}}}},"/v1/auction/litigation-case/{litigationCaseId}/leds/{ledId}/conveyance/complete":{"get":{"tags":["auction-litigation-case-controller"],"operationId":"getAuctionLitigationCaseConveyanceComplete","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLitigationConveyanceProcessDto"}}}}}}}},"/v1/auction/litigation-case/{litigationCaseId}/leds/{ledId}/announces/process":{"get":{"tags":["auction-litigation-case-controller"],"operationId":"getAuctionLitigationAnnouncesProcess","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLedsAnnouncesResponse"}}}}}}}},"/v1/auction/litigation-case/{litigationCaseId}/leds/{ledId}/announces/complete":{"get":{"tags":["auction-litigation-case-controller"],"operationId":"getAuctionLedsAnnouncesResult","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLedsAnnouncesResponse"}}}}}}}},"/v1/auction/lexs-collateral/preferential/{litigationCaseId}":{"get":{"tags":["auction-controller"],"operationId":"getLexsCollateralPreferential","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LexsCollateralPreferentialResponse"}}}}}}},"/v1/auction/external-payment-tracking/{externalPaymentTrackingId}":{"get":{"tags":["auction-controller"],"operationId":"externalPaymentTracking","parameters":[{"name":"externalPaymentTrackingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalPaymentTrackingResponse"}}}}}}},"/v1/auction/external-payment-tracking-deed-group/{aucBiddingDeedGroupId}/latest":{"get":{"tags":["auction-controller"],"operationId":"externalPaymentTrackingDeedGroupLatest","parameters":[{"name":"aucBiddingDeedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralGroup"}}}}}}},"/v1/auction/expense/{ledId}/{litigationCaseId}":{"get":{"tags":["auction-controller"],"operationId":"inquiryAuctionExpense","parameters":[{"name":"ledId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalExpenseAuctionDto"}}}}}}},"/v1/auction/expense/info":{"get":{"tags":["auction-controller"],"operationId":"inquiryAuctionExpenseInfo","parameters":[{"name":"auctionExpenseId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionExpenseInfo"}}}}}}},"/v1/auction/execution/lexs-seizures":{"get":{"tags":["auction-controller"],"operationId":"getAuctionLexsSeizures","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionLexsSeizuresResponse"}}}}}}},"/v1/auction/debt-settlement-account/{auctionDebtSettlementAccountId}":{"get":{"tags":["debt-settlement-account-controller"],"operationId":"getAuctionDebtSettlementAccount","parameters":[{"name":"auctionDebtSettlementAccountId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebtSettlementAccountResponse"}}}}}}},"/v1/auction/conveyance/workbench/account-document-status":{"get":{"tags":["conveyance-controller"],"operationId":"inquiryAccountDocumentStatus","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AccountDocumentStatusSearchRequest"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageAccountDocumentStatusDto"}}}}}}},"/v1/auction/conveyance/workbench/account-document-status/excel":{"get":{"tags":["conveyance-controller"],"operationId":"downloadAccountDocumentStatus","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AccountDocumentStatusSearchRequest"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageAccountDocumentStatusExcelDto"}}}}}}},"/v1/auction/conveyance/mas/{deedGroupId}/appointment-info":{"get":{"tags":["conveyance-controller"],"operationId":"getMasAppointmentInfo","parameters":[{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MasAppointmentInfoResponse"}}}}}}}},"/v1/auction/conveyance/mas/deedGroups/{deedGroupId}/transfer-property":{"get":{"tags":["conveyance-controller"],"operationId":"getMasTransferProperty","parameters":[{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceMasTransferResponse"}}}}}}},"/v1/auction/conveyance/document-uploads/{conveyanceDocUploadId}":{"get":{"tags":["conveyance-controller"],"operationId":"getDocumentUploads","parameters":[{"name":"conveyanceDocUploadId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceDocumentUploadResponse"}}}}}}},"/v1/auction/conveyance/announces/{deedGroupId}/documents":{"get":{"tags":["conveyance-controller"],"operationId":"getConveyanceAnnouncesDocuments","parameters":[{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConveyanceAnnouncesDocumentsResponse"}}}}}}},"/v1/auction/conveyance/announces/{aucRef}/account-documents":{"get":{"tags":["conveyance-controller"],"operationId":"getAccountDocumentsByAucRef","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentsResponse"}}}}}}},"/v1/auction/conveyance/announces/{aucRef}/account-documents/deed-groups":{"get":{"tags":["conveyance-controller"],"operationId":"getAccountDocumentDeedGroupsByAucRef","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentDeedGroupsResponse"}}}}}}},"/v1/auction/conveyance/account-documents/{accountDocFollowUpId}":{"get":{"tags":["conveyance-controller"],"operationId":"getAccountDocumentsByAccountDocFollowUpId","parameters":[{"name":"accountDocFollowUpId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentsResponse"}}}}}}},"/v1/auction/cashier-cheque/{deedGroupId}/cheque-info":{"get":{"tags":["auction-controller"],"operationId":"getChequeInfo","parameters":[{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChequeInfoItem"}}}}}}}},"/v1/auction/cashier-cheque/transfer-ownership/inquiry":{"get":{"tags":["auction-controller"],"operationId":"getCashierChequeTransferOwnership","parameters":[{"name":"deedGroupId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cashierTransferOwnershipId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CashierChequeTransferOwnershipResponse"}}}}}}}},"/v1/auction/cashier-cheque/stamp-duty/inquiry":{"get":{"tags":["auction-controller"],"operationId":"getAuctionCashierStampDuty","parameters":[{"name":"aucRef","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cashierStampDutyId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionCashierStampDutyResponse"}}}}}}}},"/v1/auction/cashier-cheque/collaterals/inquiry":{"get":{"tags":["auction-controller"],"operationId":"inquiryAuctionCashierChequeCollateralsInfo","parameters":[{"name":"aucRef","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cashierCollateralId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuctionCashierChequeCollateralsInfoResponse"}}}}}}}},"/v1/auction/cashier-cheque/branchList":{"get":{"tags":["auction-controller"],"operationId":"getAuctionCashierChequeBranchList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionCashierChequeBranchListResponse"}}}}}}},"/v1/auction/cashier-cheque/additional-payment/inquiry":{"get":{"tags":["auction-controller"],"operationId":"getCashierChequeAdditionalPayment","parameters":[{"name":"aucRef","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"additionalPaymentCashierId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CashierChequeAdditionalPaymentResponse"}}}}}}}},"/v1/auction/biddings/{aucBiddingId}/info":{"get":{"tags":["auction-bidding-controller"],"operationId":"getLatestPublicAuctionBidding","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestPublicAuctionBiddingResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/deed-groups/{deedGroupId}/result":{"get":{"tags":["auction-bidding-controller"],"operationId":"getAuctionBiddingDeedGroup","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingDeedGroupResponse"}}}}}}},"/v1/auction/biddings/announces/{aucRef}/bidding-collaterals":{"get":{"tags":["auction-bidding-controller"],"operationId":"inquiryBiddingCollaterals","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryBiddingCollateralResponse"}}}}}}},"/v1/auction/biddings/announces/{aucRef}/bidding-collaterals/{deedGroupId}":{"get":{"tags":["auction-bidding-controller"],"operationId":"inquiryBiddingCollateralsByDeedGroupId","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryDeedGroupResponse"}}}}}}},"/v1/auction/biddings/announces/{aucRef}/bidding-collaterals/summary":{"get":{"tags":["auction-bidding-controller"],"operationId":"getAuctionBiddingCollateralsSummary","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingCollateralsSummaryResponse"}}}}}}},"/v1/auction/biddings/announces/{aucRef}/bidding-announce":{"get":{"tags":["auction-bidding-controller"],"operationId":"getAuctionBiddingAnnounceResult","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionBiddingsAnnouncesResponse"}}}}}}},"/v1/auction/announces":{"get":{"tags":["auction-controller"],"operationId":"inquiryAnnounces","parameters":[{"name":"aucStatus","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"matchStatus","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"aucRef","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"auctionAnnounceSource","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InquiryAnnouncesResponse"}}}}}}}},"/v1/auction/{aucRef}/deed-info/{deedId}/unmatch":{"delete":{"tags":["auction-controller"],"operationId":"deleteAuctionUnmatch","parameters":[{"name":"aucRef","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deedId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/auction/expense/documents/delete":{"delete":{"tags":["auction-controller"],"operationId":"deleteAuctionLedsDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAuctionLedsDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/auction/biddings/{aucBiddingId}/documents":{"delete":{"tags":["auction-bidding-controller"],"operationId":"deleteBiddingDocuments","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentGroup","in":"query","required":true,"schema":{"type":"string"}},{"name":"documentTemplateId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiddingsDocumentsUploadResponse"}}}}}}},"/v1/auction/biddings/{aucBiddingId}/deed-groups/{aucBiddingDeedGroupId}/documents":{"delete":{"tags":["auction-bidding-controller"],"operationId":"deleteBiddingDocuments_1","parameters":[{"name":"aucBiddingId","in":"path","required":true,"schema":{"type":"string"}},{"name":"aucBiddingDeedGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"documentGroup","in":"query","required":true,"schema":{"type":"string"}},{"name":"documentTemplateId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiddingsDocumentsUploadResponse"}}}}}}}},"components":{"schemas":{"AuctionReasonRequest":{"type":"object","properties":{"reason":{"type":"string"}}},"AdjustSubmitRequest":{"required":["reason"],"type":"object","properties":{"reason":{"type":"string"}}},"AuctionMatchRequest":{"required":["courtNo","ledId","redCaseNo"],"type":"object","properties":{"redCaseNo":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"courtNo":{"type":"string"}}},"AuctionDocumentUploadResponse":{"type":"object","properties":{"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateForAuction"},"documentId":{"type":"integer","format":"int64"},"imageSource":{"type":"string"},"imageId":{"type":"string"},"imageName":{"type":"string"},"uploadTimestamp":{"type":"string","format":"date-time"},"reuploadable":{"type":"boolean"}}},"DocumentTemplateForAuction":{"type":"object","properties":{"documentGroup":{"type":"string","enum":["LITIGATION","NOTICE","EFILING","COURT_FEE","PERSON","PERSON_LCS","COLLATERAL_CONTRACT","COLLATERAL","COLLATERAL_APPRAISAL","COLLATERAL_TCG_SUNDRY","COLLATERAL_INS_SUNDRY","COLLATERAL_INS_POLICY","COLLATERAL_OTHER","ACCOUNT_BILL","ACCOUNT_OTHER","ACCOUNT_CONTRACT","ACCOUNT_TFS","ACCOUNT_COMMITMENT","LINKAGE","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","LEGAL_EXECUTION","SEIZURE","WITHDRAW_SEIZURE","AUCTION","ACCOUNT_DEBT_CALCULATION","AUCREFRESULT","AUCDEEDGROUPRESULT","AUCDEEDGROUPRETURN","AUCBIDRESULT","DEBT_SETTLEMENT","ASSET","PREFERENCE"]},"documentTemplateId":{"type":"string"},"documentName":{"type":"string"},"optional":{"type":"boolean"}}},"AuctionDeedInfoMatchRequest":{"required":["collateralGroups"],"type":"object","properties":{"collateralGroups":{"type":"array","items":{"$ref":"#/components/schemas/CollateralGroups"}}}},"ColInfo":{"required":["occupant"],"type":"object","properties":{"collateralId":{"type":"string"},"assetId":{"type":"integer","format":"int64"},"occupant":{"pattern":"^(ประเภทกรรมสิทธิ์|ผู้แจ้งการครอบครอง|ผู้ถือกรรมสิทธิ์|ผู้ถือสิทธิครอบครอง|ผู้เช่า|ผู้ถือหุ้น|เจ้าของ|ผู้เช่าช่วง|ผู้ถือครอง|ผู้ถือหน่วยลงทุน|ผู้ครอบครอง)$","type":"string"},"remark":{"type":"string"}}},"CollateralGroups":{"required":["assetPrice3","deedGroupNo","reserveFund1","saleTypeDesc"],"type":"object","properties":{"deedGroupNo":{"type":"string"},"saleTypeDesc":{"type":"string","enum":["การจำนองติดไป","ปลอดการจำนอง","ปลอดภาระผูกพัน","ปลอดการจำนำ","การจำนำติดไป"]},"reserveFund":{"type":"number"},"reserveFund1":{"type":"number"},"assetPrice2":{"type":"number"},"assetPrice3":{"type":"number"},"assetPrice4":{"type":"number"},"assetPrice5":{"type":"number"},"collaterals":{"type":"array","items":{"$ref":"#/components/schemas/ColInfo"}}}},"AnnounceMatchDetail":{"type":"object","properties":{"isExhibition":{"type":"boolean"},"saleChannel":{"type":"string"},"saleLocation1":{"type":"string"},"saleTime1":{"type":"string"},"saleLocation2":{"type":"string"},"saleTime2":{"type":"string"},"bidDates":{"type":"array","items":{"$ref":"#/components/schemas/BidDate"}}}},"AuctionCreateAnnounceSubmitRequest":{"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"matchStatus":{"type":"string","enum":["PENDING_CASE","PENDING_COLL","PENDING_NEW_CASE","PENDING_NEW_ANNOUNCE","PENDING_NEW_DEEDGROUP","PENDING_NEW_VALIDATE","DONE"]},"caseMatchDetail":{"$ref":"#/components/schemas/CaseMatchDetail"},"announceMatchDetail":{"$ref":"#/components/schemas/AnnounceMatchDetail"},"deedMatchDetail":{"type":"array","items":{"$ref":"#/components/schemas/DeedMatchDetail"}},"deedGroupMatchDetail":{"type":"array","items":{"$ref":"#/components/schemas/DeedGroupMatchDetail"}}}},"BidDate":{"type":"object","properties":{"number":{"type":"number"},"bidDate":{"type":"string","format":"date"},"status":{"type":"string"},"remark":{"type":"string"},"aucBiddingStatus":{"type":"string"},"aucBiddingId":{"type":"integer","format":"int64"}}},"CaseMatchDetail":{"type":"object","properties":{"redCaseNo":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"courtNo":{"type":"string"},"aucLot":{"type":"string"},"aucSet":{"type":"string"},"fbidnum":{"type":"string"}}},"DeedGroupMatchDetail":{"type":"object","properties":{"fsubbidnum":{"type":"string"},"totalDeeds":{"type":"integer","format":"int32"},"saleTypeDesc":{"type":"string"},"reservefund":{"type":"string"},"reservefund1":{"type":"string"},"assetPrice2":{"type":"string"},"assetPrice3":{"type":"string"},"assetPrice4":{"type":"string"},"assetPrice5":{"type":"string"}}},"DeedMatchDetail":{"type":"object","properties":{"fsubbidnum":{"type":"string"},"collateralId":{"type":"string"},"assetId":{"type":"integer","format":"int64"},"occupant":{"type":"string"},"remark":{"type":"string"}}},"AuctionCreateAnnounceSubmitResponse":{"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"},"litigationCaseId":{"type":"integer","format":"int64"},"ledId":{"type":"integer","format":"int64"}}},"CommitteeResolutionRequest":{"required":["aucRef","bidNo","caseNo","litigationNo","office","resolution","subbidNo","transactionDate"],"type":"object","properties":{"meetingNo":{"type":"string"},"meetingDate":{"type":"string","format":"date"},"agendaNo":{"type":"string"},"transactionDate":{"type":"string"},"resolution":{"type":"integer","format":"int32"},"aucRef":{"type":"string"},"bidNo":{"type":"integer","format":"int64"},"subbidNo":{"type":"integer","format":"int64"},"collateralId":{"type":"integer","format":"int64"},"caseNo":{"type":"string"},"litigationNo":{"type":"string"},"office":{"type":"string"},"minPrice":{"type":"number"},"maxPrice":{"type":"number"},"roundNo":{"type":"integer","format":"int32"},"aucRemark":{"type":"string"},"colRemark":{"type":"string"},"effectiveDateTo":{"type":"string","format":"date"},"footNote":{"type":"string"},"chronicleId":{"type":"string"},"assetTypeDesc":{"type":"string"},"landType":{"type":"string"},"deedNo":{"type":"string"},"remark":{"type":"string"}}},"ResolutionRequest":{"required":["requestDetail"],"type":"object","properties":{"requestDetail":{"type":"array","items":{"$ref":"#/components/schemas/CommitteeResolutionRequest"}}}},"CommitteeResolutionResponse":{"type":"object","properties":{"responseCode":{"type":"string"},"responseDesc":{"type":"string"}}},"ExternalPaymentTrackingDeedGroupRequest":{"type":"object","properties":{"paymentTrackingResult":{"type":"string"},"remark":{"type":"string"},"extendExpiredTimestamp":{"type":"string","format":"date-time"},"extendRecordTimestamp":{"type":"string","format":"date-time"},"paymentCompleteTimestamp":{"type":"string","format":"date-time"},"notPayReason":{"type":"string"},"externalPaymentTrackingDocuments":{"type":"array","items":{"$ref":"#/components/schemas/ExternalPaymentTrackingDocuments"}}}},"ExternalPaymentTrackingDocuments":{"type":"object","properties":{"uploadSessionId":{"type":"string"}}},"ValidateAuctionExpensesRequest":{"required":["litigationCaseId"],"type":"object","properties":{"litigationCaseId":{"type":"integer","format":"int64"}}},"AuctionExpenseDoc":{"type":"object","properties":{"uploadSessionId":{"type":"string"}}},"AuctionExpenseRequest":{"required":["auctionExpenseType"],"type":"object","properties":{"auctionExpenseId":{"type":"integer","format":"int64"},"auctionExpenseType":{"type":"string","enum":["SUMMON_FOR_SURCHARGE","WRIT_OF_EXECUTE","SUMMON_FOR_SURCHARGE_E_FILING","WRIT_OF_EXECUTE_E_FILING","SUMMON_FOR_SURCHARGE_CASHIER_CHEQUE","WRIT_OF_EXECUTE_CASHIER_CHEQUE"]},"commandTimestamp":{"type":"string","format":"date-time"},"citationCaseNo":{"type":"string"},"citationCaseAssignedDate":{"type":"string","format":"date-time"},"citationCaseCreatedDate":{"type":"string","format":"date-time"},"litigationCaseId":{"type":"integer","format":"int64"},"litigationId":{"type":"string"},"reason":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"auctionExpenseDoc":{"$ref":"#/components/schemas/AuctionExpenseDoc"},"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"totalAmountPaid":{"type":"number"},"payeeName":{"type":"string"},"branchCode":{"type":"string"},"assignedLawyerId":{"type":"string"},"assignedLawyerMobileNo":{"type":"string"},"receivedByLawyerId":{"type":"string"},"receivedByLawyerMobileNo":{"type":"string"},"receiveCashierDate":{"type":"string","format":"date-time"}}},"AuctionExpenseResponse":{"type":"object","properties":{"uploadTimeStamp":{"type":"string","format":"date-time"},"imageId":{"type":"string"},"status":{"type":"string","enum":["R2E09_02_3B_PENDING_SAVE","R2E09_02_3B_PENDING_PAYMENT","R2E09_02_3B_PAYMENT_COMPLETE_PENDING_SAVE","COMPLETE","R2E09_14_3C_PENDING_SAVE","R2E09_14_3C_PENDING_UPDATE","R2E09_14_3C_PENDING_REVIEW","R2E09_14_3C_PENDING_APPROVAL","R2E35_02_E09_01_7A_PENDING_RECEIPT_UPLOAD","R2E35_02_E09_02_7B_PENDING_RECEIPT_UPDATE","R2E35_02_E09_02_7B_PENDING_RECEIPT_VERIFICATION"]},"auctionExpenseId":{"type":"integer","format":"int64"}}},"UploadAuctionLedsDocumentRequest":{"type":"object","properties":{"documentType":{"type":"string"},"documentTemplateId":{"type":"string"},"file":{"type":"string","format":"binary"},"auctionExpenseId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"}}},"AuctionUploadDocumentResponse":{"type":"object","properties":{"documentType":{"type":"string"},"uploadTimeStamp":{"type":"string","format":"date-time"}}},"SubmitAuctionAssignLawyerRequest":{"required":["userId"],"type":"object","properties":{"userId":{"type":"string"}}},"SuspendAuctionCollateralDto":{"type":"object","properties":{"ledId":{"type":"integer","format":"int64"},"collateralId":{"type":"string"}}},"SuspendAuctionDocumentRequest":{"type":"object","properties":{"customerId":{"type":"string"},"documentDownloadState":{"type":"string","enum":["DEFERMENT","WITHDRAW_SEIZURE"]},"suspendAuctionCollateralDtos":{"type":"array","items":{"$ref":"#/components/schemas/SuspendAuctionCollateralDto"}},"withdrawSeizureId":{"type":"integer","format":"int64"}}},"AuctionDebtSettlementRequest":{"required":["debtSettlementTransactions"],"type":"object","properties":{"headerFlag":{"type":"string"},"auctionDebtSettlementAccountId":{"type":"integer","format":"int64"},"chequeAmount":{"type":"number"},"creditNoteRefNo":{"type":"string"},"creditNoteOrganizationId":{"type":"string"},"availableDebtSettlementAmount":{"type":"number"},"debtSettlementTransactions":{"type":"array","items":{"$ref":"#/components/schemas/DebtSettlementTransaction"}}}},"DebtSettlementAccount":{"type":"object","properties":{"auctionDebtSettlementAccountAccountId":{"type":"integer","format":"int64"},"paymentGroupType":{"type":"integer","format":"int32"},"paymentType":{"type":"string"},"accountNo":{"type":"string"},"billNo":{"type":"string"},"accountType":{"type":"string"},"debtAmount":{"type":"number"},"debtSettlementAmount":{"type":"number"},"createdTimestamp":{"type":"string","format":"date-time"},"updatedTimestamp":{"type":"string","format":"date-time"},"sourceSystem":{"type":"string"}}},"DebtSettlementTransaction":{"required":["litigationCaseId","originalLitigationCaseId"],"type":"object","properties":{"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"originalLitigationCaseId":{"type":"integer","format":"int64"},"legalStatus":{"type":"string"},"legalStatusName":{"type":"string"},"blackCaseNo":{"type":"string"},"redCaseNo":{"type":"string"},"cifNo":{"type":"string"},"mainBorrowerName":{"type":"string"},"courtCode":{"type":"string"},"courtName":{"type":"string"},"responseUnitCode":{"type":"string"},"responseUnitName":{"type":"string"},"bookingCode":{"type":"string"},"bookingName":{"type":"string"},"isMainCase":{"type":"boolean"},"debtSettlementAccounts":{"type":"array","items":{"$ref":"#/components/schemas/DebtSettlementAccount"}}}},"AuctionDebtSettlementAccountUpdateRequest":{"required":["auctionDebtSettlementAccountId"],"type":"object","properties":{"auctionDebtSettlementAccountId":{"type":"integer","format":"int64"},"chequeAmount":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"}}},"Approval":{"type":"object","properties":{"reviewResult":{"type":"string"},"rejectReason":{"type":"string"}}},"DebitTransaction":{"type":"object","properties":{"type":{"type":"string"},"debitAmount":{"type":"number"},"seqNo":{"type":"integer","format":"int32"},"collateralGroups":{"type":"array","items":{"type":"string"}}}},"DebtSettlementAccountDeedGroupDto":{"type":"object","properties":{"auctionDebtSettlementAccountDeedGroupId":{"type":"integer","format":"int64"},"deedGroupId":{"type":"integer","format":"int64"},"fsubbidnum":{"type":"string"},"soldPrice":{"type":"number"},"soldDate":{"type":"string","format":"date"},"buyerType":{"type":"string"},"remainingBalance":{"type":"number"},"createdTimestamp":{"type":"string","format":"date-time"},"updatedTimestamp":{"type":"string","format":"date-time"}}},"DebtSettlementAccountDocument":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateDto"},"imageSource":{"type":"string"},"imageId":{"type":"string"},"imageName":{"type":"string"},"uploadTimestamp":{"type":"string","format":"date-time"}}},"DebtSettlementAccountResponse":{"type":"object","properties":{"auctionDebtSettlementAccountId":{"type":"integer","format":"int64"},"aucRef":{"type":"integer","format":"int64"},"ledId":{"type":"integer","format":"int64"},"ledName":{"type":"string"},"aucLedSeq":{"type":"integer","format":"int64"},"status":{"type":"string"},"statusName":{"type":"string"},"type":{"type":"string"},"debitPercentage":{"type":"string"},"chequeAmount":{"type":"number"},"creditNoteRefNo":{"type":"string"},"creditNoteOrganizationId":{"type":"string"},"creditNoteOrganizationName":{"type":"string"},"makerId":{"type":"string"},"makerName":{"type":"string"},"approverId":{"type":"string"},"createdTimestamp":{"type":"string","format":"date-time"},"updatedTimestamp":{"type":"string","format":"date-time"},"fetchAccountTimestamp":{"type":"string","format":"date-time"},"approvedTimestamp":{"type":"string","format":"date-time"},"totalSoldPrice":{"type":"number"},"availableDebtSettlementAmount":{"type":"number"},"originalDebtSettlementAmount":{"type":"number"},"debtAmount15":{"type":"number"},"isAllowedApprove":{"type":"boolean"},"debitTransactions":{"type":"array","items":{"$ref":"#/components/schemas/DebitTransaction"}},"auctionDebtSettlementAccountDocuments":{"type":"array","items":{"$ref":"#/components/schemas/DebtSettlementAccountDocument"}},"collateralGroups":{"type":"array","items":{"$ref":"#/components/schemas/DebtSettlementAccountDeedGroupDto"}},"debtSettlementTransactions":{"type":"array","items":{"$ref":"#/components/schemas/DebtSettlementTransaction"}},"approval":{"$ref":"#/components/schemas/Approval"}}},"DocumentTemplateDto":{"type":"object","properties":{"documentTemplateId":{"type":"string"},"documentName":{"type":"string"},"searchType":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"documentGroup":{"type":"string","enum":["LITIGATION","NOTICE","EFILING","COURT_FEE","PERSON","PERSON_LCS","COLLATERAL_CONTRACT","COLLATERAL","COLLATERAL_APPRAISAL","COLLATERAL_TCG_SUNDRY","COLLATERAL_INS_SUNDRY","COLLATERAL_INS_POLICY","COLLATERAL_OTHER","ACCOUNT_BILL","ACCOUNT_OTHER","ACCOUNT_CONTRACT","ACCOUNT_TFS","ACCOUNT_COMMITMENT","LINKAGE","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","LEGAL_EXECUTION","SEIZURE","WITHDRAW_SEIZURE","AUCTION","ACCOUNT_DEBT_CALCULATION","AUCREFRESULT","AUCDEEDGROUPRESULT","AUCDEEDGROUPRETURN","AUCBIDRESULT","DEBT_SETTLEMENT","ASSET","PREFERENCE"]},"needHardCopy":{"type":"boolean"},"optional":{"type":"boolean"},"forNoticeLetter":{"type":"boolean"},"forLitigation":{"type":"boolean"},"requiredDocumentDate":{"type":"boolean"},"autoMatchType":{"type":"string"},"contentType":{"type":"string"},"generatedBySystem":{"type":"boolean"},"multipleUpload":{"type":"boolean"}}},"TransferCollateral":{"type":"object","properties":{"collateralId":{"type":"string"},"collateralDocuments":{"type":"array","items":{"$ref":"#/components/schemas/TransferDocument"}}}},"TransferDocument":{"type":"object","properties":{"documentType":{"type":"integer","format":"int64"},"chronicleId":{"type":"string"}}},"TransferInfo":{"type":"object","properties":{"purchasePrice":{"type":"number"},"fee":{"type":"number"},"feeTax":{"type":"number"},"whdTax":{"type":"number"},"witnessFee":{"type":"number"},"transferDocuments":{"type":"array","items":{"$ref":"#/components/schemas/TransferDocument"}},"collaterals":{"type":"array","items":{"$ref":"#/components/schemas/TransferCollateral"}}}},"TransferOfPropertyRequest":{"required":["referenceNum","transferDate","transferResult"],"type":"object","properties":{"referenceNum":{"type":"string"},"transferDate":{"type":"string"},"transferResult":{"type":"integer","format":"int64"},"transferResultReason":{"type":"string"},"transferInfo":{"$ref":"#/components/schemas/TransferInfo"}}},"TransferOfPropertyResponse":{"type":"object","properties":{"responseCode":{"type":"string"},"responseDesc":{"type":"string"}}},"AppointmentCallbackRequest":{"type":"object","properties":{"referenceNum":{"type":"string"},"transferDate":{"type":"string"},"transferTime":{"type":"string"},"appointPeriod":{"type":"string"},"appointDate":{"type":"string"},"appointUserId":{"type":"string"},"appointUserName":{"type":"string"},"costCenterId":{"type":"string"},"costCenterName":{"type":"string"},"locationId":{"type":"string"},"locationName":{"type":"string"},"branchId":{"type":"string"},"branchName":{"type":"string"},"postPoneReason":{"type":"string"}}},"AppointmentCallbackResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}},"AuctionResultRecordingSubmitRequest":{"required":["conveyanceDeedGroupDocuments"],"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"conveyanceOptionalUploadDocuments":{"type":"array","items":{"$ref":"#/components/schemas/DocumentTemplateAndUploadSessionId"}},"conveyanceDeedGroupDocuments":{"type":"array","items":{"$ref":"#/components/schemas/ConveyanceDeedGroupDocuments"}}}},"ConveyanceDeedGroupDocuments":{"required":["conveyanceDeedGroupUploadDocuments","deedGroupId"],"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"conveyanceDeedGroupUploadDocuments":{"type":"array","items":{"$ref":"#/components/schemas/DocumentTemplateAndUploadSessionId"}}}},"DocumentTemplateAndUploadSessionId":{"type":"object","properties":{"documentTemplateId":{"type":"string"},"uploadSessionId":{"type":"string"}}},"ConveyanceAppointmentSaveRequest":{"type":"object","properties":{"ccCode":{"type":"string"},"ccName":{"type":"string"},"locationId":{"type":"string"},"locationName":{"type":"string"},"branchId":{"type":"string"},"branchName":{"type":"string"},"appointPeriod":{"type":"string"},"appointDate":{"type":"string","format":"date"}}},"CheckAppointmentRequest":{"type":"object","properties":{"selectMonth":{"type":"string"},"collateralType":{"type":"string"},"subCollateralType":{"type":"string"},"provinceName":{"type":"string"},"districtName":{"type":"string"},"subDistrictName":{"type":"string"},"createCostcenter":{"type":"string"}}},"CalendarDTO":{"type":"object","properties":{"date":{"type":"string"},"holidayName":{"type":"string"},"transactionNum":{"type":"integer","format":"int32"},"transaction":{"type":"integer","format":"int32"}}},"CheckAppLists":{"type":"object","properties":{"calendarDTO":{"type":"array","items":{"$ref":"#/components/schemas/CalendarDTO"}}}},"CheckAppointmentResponse":{"type":"object","properties":{"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"ccCode":{"type":"string"},"ccName":{"type":"string"},"locationId":{"type":"string"},"locationName":{"type":"string"},"branchId":{"type":"string"},"branchName":{"type":"string"},"checkAppLists":{"$ref":"#/components/schemas/CheckAppLists"}}},"ConveyanceUploadDocumentBody":{"type":"object","properties":{"document":{"$ref":"#/components/schemas/DocumentTemplateAndUploadSessionId"},"relatedDeedGroupIDs":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}}},"ConveyanceUploadDocumentRequest":{"required":["conveyanceDeedGroupDocuments","conveyanceUploadDocuments"],"type":"object","properties":{"conveyanceUploadDocuments":{"type":"array","items":{"$ref":"#/components/schemas/ConveyanceUploadDocumentBody"}},"conveyanceOptionalUploadDocuments":{"type":"array","items":{"$ref":"#/components/schemas/DocumentTemplateAndUploadSessionId"}},"conveyanceDeedGroupDocuments":{"type":"array","items":{"$ref":"#/components/schemas/ConveyanceDeedGroupDocuments"}}}},"ConveyanceUploadDocumentResponse":{"type":"object","properties":{"taskId":{"type":"integer","format":"int64"},"conveyanceDocUploadId":{"type":"integer","format":"int64"}}},"DocConveyanceUploadValidationResponse":{"type":"object","properties":{"validated":{"type":"boolean"}}},"AccountDocumentValidationResponse":{"type":"object","properties":{"validated":{"type":"boolean"},"reasonCode":{"type":"string"}}},"AccountDocDeedGroup":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"}}},"AccountDocFollowup":{"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"},"certifyAccountWarrantStatus":{"type":"string","enum":["RECEIVE","NOT_RECEIVE"]},"certifyAccountWarrantType":{"type":"string","enum":["VALID_WARRANT","INVALID_WARRANT"]},"certifyAccountWarrantDate":{"type":"string","format":"date"},"accountDocReceiveStatus":{"type":"string","enum":["RECEIVE","NOT_RECEIVE"]},"accountDocVerifyStatus":{"type":"string","enum":["IN_PROCESS","VERIFIED"]},"accountDocVerifyResult":{"type":"string","enum":["VALID_DATA","INVALID_DATA"]},"debtSettlementAmount":{"type":"number"},"cashierChequeInfo":{"$ref":"#/components/schemas/CashierChequeInfo"},"creditNoteInfo":{"$ref":"#/components/schemas/CreditNoteInfo"},"remark":{"type":"string"},"accountDocDeedGroups":{"type":"array","items":{"$ref":"#/components/schemas/AccountDocDeedGroup"}},"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"AccountDocumentResultRecordingRequest":{"required":["headerFlag"],"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"accountDocFollowup":{"$ref":"#/components/schemas/AccountDocFollowup"}}},"CashierChequeInfo":{"type":"object","properties":{"chequeNo":{"type":"string"},"amount":{"type":"number"},"chequeDate":{"type":"string","format":"date"},"chequeBankCode":{"type":"string"},"chequeBranch":{"type":"string"}}},"CreditNoteInfo":{"type":"object","properties":{"refNo":{"type":"string"},"recipientDeptCode":{"type":"string"}}},"Document":{"type":"object","properties":{"documentTemplateId":{"type":"string"},"uploadSessionId":{"type":"string"}}},"AccountDocumentFollowUpTaskApprovalRequest":{"required":["action"],"type":"object","properties":{"action":{"type":"string","enum":["APPROVE","RETURN","APPROVE, RETURN"]},"reason":{"type":"string"},"return":{"type":"boolean"},"approve":{"type":"boolean"}}},"ConveyanceAccountDocumentsResultRecordingResponse":{"type":"object","properties":{"accountDocFollowupId":{"type":"integer","format":"int64"},"taskId":{"type":"integer","format":"int64"}}},"AuctionCollateralValidateRequest":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"deedId":{"type":"integer","format":"int64"},"validationResult":{"type":"string"},"validationNote":{"type":"string"}}},"AuctionCollateralMatchRequest":{"required":["deedGroupId","deedId"],"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"deedId":{"type":"integer","format":"int64"},"collateralId":{"type":"string"},"lexsCollateralTypeCode":{"type":"string"},"lexsCollateralSubTypeCode":{"type":"string"},"lexsDocumentNo":{"type":"string"},"assetId":{"type":"integer","format":"int64"},"assetCollateralTypeCode":{"type":"string"},"assetCollateralSubTypeCode":{"type":"string"},"assetDocumentNo":{"type":"string"}}},"AdditionalInfo":{"type":"object","properties":{"allowCategory":{"type":"array","items":{"type":"string"}}}},"AuctionCashierTransferOwnershipSubmitRequest":{"required":["amount","branchCode","headerFlag","receivedByLawyerId","receivedByLawyerMobileNo"],"type":"object","properties":{"headerFlag":{"type":"string","description":"Header Flag // SUBMIT","example":"SUBMIT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"cashierTransferOwnershipId":{"type":"integer","format":"int64"},"deedGroupId":{"type":"integer","format":"int64"},"amount":{"type":"number"},"branchCode":{"type":"string"},"receivedByLawyerId":{"type":"string"},"receivedByLawyerMobileNo":{"type":"string"},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}},"DocumentDto":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"objectType":{"type":"string","enum":["PERSON","CONTRACT","COLLATERAL","BILL_NO","ACCOUNT_NO","LINKAGE","SUNDRY","SUB_ACCOUNT","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","DISPUTE_SUPREME","EXPENSE","CONDITION_APPEAL","CONDITION_SUPREME","SEIZURE_LED","WITHDRAW_SEIZURE_LED","DEFERMENT_EXEC","AUCTION_EXPENSE","AUCTION","EXTERNAL_PAYMENT_TRACKING_DEED_GROUP","CASHIER_CHEQUE","CHEQUE_ADDITIONAL_PAYMENT","CASHIER_CHEQUE_TRANSFER_OWNERSHIP","DEED_GROUP_ID","CONV_DOC_UPLOAD_ID","CONVY_ACC_DOC_FOLLOWUP_ID","AUC_BIDDING_ID","AUC_REF","AUC_BIDDING_DEED_GROUP_ID","WITHDRAW_SEIZURES_COLLATERALS_CONSENT_DOCUMENT","DEBT_SETTLEMENT_DOCUMENT","ACCOUNT","ASSET","ASSET_INVESTIGATION","AUCTION_CASHIER_CHEQUE_TRANSFER_OWNERSHIP","DEBT_SETTLEMENT_ACCOUNT","PREFERENCE"]},"objectId":{"type":"string"},"imageSource":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"imageId":{"type":"string"},"imageName":{"type":"string"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateDto"},"storeOrganization":{"type":"string"},"storeOrganizationName":{"type":"string"},"handlingOrganization":{"type":"string"},"holderOrganization":{"type":"string"},"holderOrganizationName":{"type":"string"},"uploadUserOrganizationName":{"type":"string"},"hasOriginalCopy":{"type":"boolean"},"active":{"type":"boolean"},"documentDate":{"type":"string","format":"date-time"},"uploadUserId":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"object"}},"documentCommitmentId":{"type":"string"},"documentTemplateId":{"type":"string"},"commitmentAccounts":{"type":"array","items":{"type":"string"}},"sent":{"type":"boolean"},"received":{"type":"boolean"},"dimsTicketBarcode":{"type":"string"},"sendDate":{"type":"string","format":"date"},"receiveDate":{"type":"string","format":"date"},"customerId":{"type":"string"},"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"additionalInfo":{"$ref":"#/components/schemas/AdditionalInfo"},"rejectedReasons":{"type":"array","items":{"$ref":"#/components/schemas/RejectedReasonDto"}},"dimsHardCopyStatus":{"type":"string","enum":["FOUND","NOT_FOUND","IN_PROGRESS"]},"dimsHardCopyRequestDate":{"type":"string","format":"date-time"},"hardCopyState":{"type":"string","enum":["SUCCESS","IN_PROGRESS","REJECT","DISABLE","OPEN"]}}},"RejectedDocumentInfo":{"type":"object","properties":{"documentName":{"type":"string"},"pageCount":{"type":"integer","format":"int32"}}},"RejectedReasonDto":{"type":"object","properties":{"rejectedReasonId":{"type":"string"},"rejectedReasonCode":{"type":"string"},"rejectedReasonName":{"type":"string"},"rejectedRemarks":{"type":"string"},"rejectedDate":{"type":"string","format":"date-time"},"rejectedUserId":{"type":"string"},"rejectedUserName":{"type":"string"},"rejectedUserRole":{"type":"string"},"rejectedUserSubRole":{"type":"string"},"rejectedDocumentInfo":{"$ref":"#/components/schemas/RejectedDocumentInfo"}}},"AuctionCashierTransferOnwershipSubmitResponse":{"type":"object","properties":{"transferOwnershipCashierId":{"type":"integer","format":"int64"},"statusName":{"type":"string"}}},"AuctionCashierStampDutySubmitRequest":{"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"cashierStampDutyId":{"type":"integer","format":"int64"},"assignedLawyerId":{"type":"string"},"assignedLawyerMobileNo":{"type":"string"},"initBy":{"type":"string"},"receivedByLawyerId":{"type":"string"},"receivedByLawyerMobileNo":{"type":"string"},"branchCode":{"type":"string"},"receiveCashierDate":{"type":"string","format":"date-time"}}},"AuctionCashierStampDutySubmitResponse":{"type":"object","properties":{"cashierStampDutyId":{"type":"integer","format":"int64"}}},"AuctionCashierCollateralRequest":{"required":["headerFlag"],"type":"object","properties":{"headerFlag":{"type":"string","description":"Header Flag // DRAFT,SUBMIT","example":"DRAFT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"cashierCollateralId":{"type":"integer","format":"int64"},"assignedLawyerId":{"type":"string"},"assignedLawyerMobileNo":{"type":"string"},"receivedByLawyerId":{"type":"string"},"receivedByLawyerMobileNo":{"type":"string"},"branchCode":{"type":"string"},"receiveCashierDate":{"type":"string","format":"date-time"}}},"AuctionCashierCollateralResponse":{"type":"object","properties":{"cashierCollateralId":{"type":"integer","format":"int64"}}},"AuctionAdditionalPaymentRequest":{"required":["aucRef"],"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"}}},"AuctionAdditionalPaymentResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}}},"AdditionalPaymentDocument":{"type":"object","properties":{"name":{"type":"string"},"uploadSessionId":{"type":"string"}}},"AuctionCashierAdditionalPaymentSubmitRequest":{"required":["aucRef"],"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"additionalPaymentCashierId":{"type":"integer","format":"int64"},"aucRef":{"type":"integer","format":"int64"},"amount":{"type":"number"},"reason":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"assignedLawyerId":{"type":"string"},"assignedLawyerMobileNo":{"type":"string"},"receivedByLawyerId":{"type":"string"},"receivedByLawyerMobileNo":{"type":"string"},"branchCode":{"type":"string"},"receiveCashierDate":{"type":"string","format":"date-time"},"additionalPaymentDocs":{"$ref":"#/components/schemas/AdditionalPaymentDocument"}}},"AuctionCashierAdditionalPaymentSubmitResponse":{"type":"object","properties":{"additionalPaymentCashierId":{"type":"integer","format":"int64"},"statusName":{"type":"string"}}},"AuctionBiddingResult":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"aucResult":{"type":"string"},"buyerType":{"type":"string"},"buyerName":{"type":"string"},"cancelReasonType":{"type":"string"},"cancelBidDates":{"type":"array","items":{"type":"string"}},"soldPrice":{"type":"number"},"unsoldReasonType":{"type":"string"},"unsoldObjectBuyer":{"type":"string"},"unsoldObjectHighestBidder":{"type":"string"},"unsoldObjectPrice":{"type":"number"},"unsoldObjectDissident":{"type":"string"},"remark":{"type":"string"}}},"AuctionBiddingResultsRequest":{"type":"object","properties":{"aucBiddingResults":{"type":"array","items":{"$ref":"#/components/schemas/AuctionBiddingResult"}}}},"AuctionBiddingResultsResponse":{"type":"object","properties":{"updateAucBiddingResults":{"type":"array","items":{"$ref":"#/components/schemas/UpdateAuctionBiddingResult"}}}},"UpdateAuctionBiddingResult":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"aucBiddingDeedGroupId":{"type":"integer","format":"int64"},"aucBiddingDeedGroupStatus":{"type":"string"}}},"AuctionBiddingResultRecordingTasksSubmitRequest":{"required":["attendAuctionFlag"],"type":"object","properties":{"headerFlag":{"pattern":"^SUBMIT$","type":"string"},"attendAuctionFlag":{"type":"boolean"}}},"AuctionBiddingResultRecordingTasksSubmitResponse":{"type":"object","properties":{"status":{"type":"string"}}},"BiddingsDocumentsUploadRequest":{"required":["documentGroup","documentTemplateId"],"type":"object","properties":{"documentGroup":{"type":"string"},"documentTemplateId":{"type":"string"}}},"BiddingsDocumentsUploadResponse":{"type":"object","properties":{"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateForAuction"},"documentId":{"type":"integer","format":"int64"},"imageSource":{"type":"string"},"imageId":{"type":"string"},"imageName":{"type":"string"},"uploadTimestamp":{"type":"string","format":"date-time"},"reuploadable":{"type":"boolean"}}},"AuctionBiddingDocumentRequest":{"type":"object","properties":{"returnDocumentNo":{"type":"string"},"returnDocumentRemark":{"type":"string"}}},"AuctionBiddingDocumentResponse":{"type":"object","properties":{"aucBiddingDeedGroupId":{"type":"integer","format":"int64"}}},"AuctionAnnounceSearchConditionRequest":{"type":"object","properties":{"aucLot":{"type":"string"},"aucSet":{"type":"string"},"fbidnum":{"type":"string"},"redCaseNo":{"type":"string"},"lawCourtName":{"type":"string"},"defendantName":{"type":"string"},"matchingStatus":{"type":"array","items":{"type":"string"}},"aucStatus":{"type":"array","items":{"type":"string"}},"auctionAnnounceSource":{"type":"array","items":{"type":"string"}},"isNonPledgeAsset":{"type":"boolean"}}},"AuctionAnnounceExcelDto":{"type":"object","properties":{"no":{"type":"string"},"announceDate":{"type":"string"},"aucLot":{"type":"string"},"aucSet":{"type":"string"},"fbidnum":{"type":"string"},"redCaseNo":{"type":"string"},"defendantName":{"type":"string"},"lawCourtName":{"type":"string"},"aucStatusName":{"type":"string"}}},"PageAuctionAnnounceExcelDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AuctionAnnounceExcelDto"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"AnnounceValidateRequest":{"type":"object","properties":{"redCaseNo":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"courtNo":{"type":"string"},"aucLot":{"type":"string"},"aucSet":{"type":"string"},"fbidnum":{"type":"string"}}},"AnnounceValidateResponse":{"required":["validateStatus"],"type":"object","properties":{"validateStatus":{"type":"boolean"},"aucRef":{"type":"integer","format":"int64"},"aucStatus":{"type":"string"},"matchingStatus":{"type":"string"}}},"SeizureInfoDto":{"type":"object","properties":{"ledId":{"type":"integer","format":"int64"},"litigationCaseId":{"type":"integer","format":"int64"},"seizureId":{"type":"integer","format":"int64"},"seizureLedsId":{"type":"integer","format":"int64"},"seizureTimestamp":{"type":"string","format":"date"},"ledType":{"type":"string"},"auctionLawyerName":{"type":"string"},"courtName":{"type":"string"},"seizureType":{"type":"string"}}},"SeizureInfoResponse":{"type":"object","properties":{"seizureInfos":{"type":"array","items":{"$ref":"#/components/schemas/SeizureInfoDto"}}}},"AuctionDetailsAssetOwner":{"type":"object","properties":{"cifNo":{"type":"string"},"identificationNo":{"type":"string"},"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"custTypeConst":{"type":"string"}}},"AuctionLexsCollateralDto":{"type":"object","properties":{"collateralId":{"type":"integer","format":"int64"},"lexsRedCaseNo":{"type":"string"},"ledId":{"type":"string"},"ledName":{"type":"string"},"lexsCollateralTypeCode":{"type":"string"},"lexsCollateralTypeDesc":{"type":"string"},"lexsCollateralSubTypeCode":{"type":"string"},"lexsCollateralSubTypeDesc":{"type":"string"},"lexsDocumentNo":{"type":"string"},"lexsCollateralsDescription":{"type":"string"},"lexsPlaintiffName":{"type":"string"},"lexsOwnerFullName":{"type":"string"},"lexsDefendant":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLexsDefendantDto"}}}},"AuctionLexsCollateralResponse":{"type":"object","properties":{"lexsCollaterals":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLexsCollateralDto"}},"nonPledgeAssets":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLexsNonPledgeAssestDto"}}}},"AuctionLexsDefendantDto":{"type":"object","properties":{"personId":{"type":"string"},"personName":{"type":"string"},"relation":{"type":"string"},"cifNo":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64","writeOnly":true}}},"AuctionLexsNonPledgeAssestDto":{"type":"object","properties":{"litigationCaseId":{"type":"integer","format":"int64"},"assetId":{"type":"integer","format":"int64"},"assetRedCaseNo":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"ledName":{"type":"string"},"assetCollateralTypeCode":{"type":"integer","format":"int64"},"assetCollateralTypeDesc":{"type":"string"},"assetCollateralSubTypeCode":{"type":"integer","format":"int64"},"assetCollateralSubTypeDesc":{"type":"string"},"assetDocumentNo":{"type":"string"},"assetDescription":{"type":"string"},"assetPlaintiffname":{"type":"string"},"assetObligationBy":{"type":"string"},"assetOwners":{"type":"array","items":{"$ref":"#/components/schemas/AuctionDetailsAssetOwner"}},"assetDefendant":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLexsDefendantDto"}}}},"AuctionDeedInfoResponse":{"type":"object","properties":{"saleTypeDesc":{"type":"string"},"reserveFund":{"type":"number","format":"double"},"reserveFund1":{"type":"number","format":"double"},"assetPrice2":{"type":"number","format":"double"},"assetPrice3":{"type":"number","format":"double"},"assetPrice4":{"type":"number","format":"double"},"assetPrice5":{"type":"number","format":"double"},"totalDeeds":{"type":"integer","format":"int32"}}},"AnnounceDocument":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateForAuction"},"imageSource":{"type":"string"},"imageId":{"type":"string"},"imageName":{"type":"string"},"uploadTimestamp":{"type":"string","format":"date-time"},"reuploadable":{"type":"boolean"}}},"AnnounceMatchDetailRes":{"type":"object","properties":{"isExhibition":{"type":"boolean"},"saleChannel":{"type":"string"},"saleLocation1":{"type":"string"},"saleTime1":{"type":"string"},"saleLocation2":{"type":"string"},"saleTime2":{"type":"string"},"bidDates":{"type":"array","items":{"$ref":"#/components/schemas/BidDate"}},"document":{"$ref":"#/components/schemas/AnnounceDocument"},"lawCourtName":{"type":"string"},"redCaseNo":{"type":"string"},"plaintiffName":{"type":"string"},"defendantName":{"type":"string"}}},"CaseMatchDetailRes":{"type":"object","properties":{"caseType":{"type":"string","enum":["CIVIL","CIVIL_OUTSIDE","PREFERENCE"]},"aucLot":{"type":"string"},"aucSet":{"type":"string"},"fbidnum":{"type":"string"}}},"CreateAnnounceResponse":{"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"},"matchStatus":{"type":"string","enum":["PENDING_CASE","PENDING_COLL","PENDING_NEW_CASE","PENDING_NEW_ANNOUNCE","PENDING_NEW_DEEDGROUP","PENDING_NEW_VALIDATE","DONE"]},"caseMatchDetail":{"$ref":"#/components/schemas/CaseMatchDetailRes"},"announceMatchDetail":{"$ref":"#/components/schemas/AnnounceMatchDetailRes"},"deedMatchDetail":{"type":"array","items":{"$ref":"#/components/schemas/DeedMatchDetailRes"}},"deedGroupMatchDetail":{"type":"array","items":{"$ref":"#/components/schemas/DeedGroupMatchDetail"}}}},"DeedMatchDetailRes":{"type":"object","properties":{"fsubbidnum":{"type":"string"},"collateralId":{"type":"string"},"assetId":{"type":"string"},"occupant":{"type":"string"},"remark":{"type":"string"},"ledName":{"type":"string"},"collateralTypeDesc":{"type":"string"},"collateralSubTypeDesc":{"type":"string"},"documentNo":{"type":"string"},"description":{"type":"string"},"redCaseNo":{"type":"string"},"plaintiffName":{"type":"string"},"ownerFullName":{"type":"string"},"obligationBy":{"type":"string"},"owners":{"type":"array","items":{"$ref":"#/components/schemas/AuctionDetailsAssetOwner"}},"defendant":{"type":"array","items":{"$ref":"#/components/schemas/AuctionLexsDefendantDto"}},"isExclude":{"type":"boolean"}}},"AuctionDetails":{"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"},"deedGroupId":{"type":"integer","format":"int64"},"deedId":{"type":"integer","format":"int64"},"fsubbidnum":{"type":"string"},"assettypedesc":{"type":"string"},"landtype":{"type":"string"},"ledOriginalDeedno":{"type":"string"},"assetDetail":{"type":"string"},"redCaseNo":{"type":"string"},"saletypedesc":{"type":"string"},"debtname":{"type":"string"},"ownername":{"type":"string"},"plaintiffname":{"type":"string"},"defendantname":{"type":"string"},"occupant":{"type":"string"},"ledId":{"type":"integer","format":"int64"},"ledName":{"type":"string"},"ledOriginalName":{"type":"string"},"remark":{"type":"string"},"url":{"type":"string"},"collateralMatched":{"type":"boolean"},"collateralMatchTimestamp":{"type":"string","format":"date-time"},"collateralTypeCode":{"type":"string"},"collateralSubTypeCode":{"type":"string"},"collateralDocNo":{"type":"string"},"isDeedInfoValid":{"type":"boolean"},"validationNote":{"type":"string"},"value1":{"type":"string"},"collateralId":{"type":"string"},"lexsCollateralTypeDesc":{"type":"string"},"lexsCollateralSubTypeDesc":{"type":"string"},"lexsCollateralsDescription":{"type":"string"},"lexsCollateralDocumentNo":{"type":"string"},"lexsPlaintiffname":{"type":"string"},"lexsOwnerFullName":{"type":"string"},"lexsDefendant":{"type":"array","items":{"$ref":"#/components/schemas/AuctionDetailsLexsDefendant"}},"litigationCaseId":{"type":"integer","format":"int64"},"lexsRedCaseNo":{"type":"string"},"lexsLedId":{"type":"string"},"lexsLedName":{"type":"string"},"lexsLitigationId":{"type":"string"},"lexsLitigationCaseId":{"type":"string"},"lexsOriginalLitigationCaseId":{"type":"string"},"lexsCivilCourtNo":{"type":"string"},"isNonPledgeAsset":{"type":"boolean"},"assetId":{"type":"integer","format":"int64"},"assetCollateralTypeCode":{"type":"integer","format":"int64"},"assetCollateralTypeDesc":{"type":"string"},"assetCollateralSubTypeCode":{"type":"integer","format":"int64"},"assetCollateralSubTypeDesc":{"type":"string"},"assetDocumentNo":{"type":"string"},"assetDescription":{"type":"string"},"assetPlaintiffname":{"type":"string"},"assetObligationBy":{"type":"string"},"assetOwners":{"type":"array","items":{"$ref":"#/components/schemas/AuctionDetailsAssetOwner"}},"auctionAnnounceSource":{"type":"string"}}},"AuctionDetailsDto":{"type":"object","properties":{"auctionCollaterals":{"type":"array","items":{"$ref":"#/components/schemas/AuctionDetails"}}}},"AuctionDetailsLexsDefendant":{"type":"object","properties":{"personId":{"type":"string"},"personName":{"type":"string"},"relation":{"type":"string"}}},"PreferentialOrder":{"type":"object","properties":{"preferenceGroupNo":{"type":"string"},"executeDate":{"type":"string","format":"date"},"publicAuctionLawyerId":{"type":"string"},"lawyerName":{"type":"string"}}},"PreferentialOrderInfo":{"type":"object","properties":{"preferentialOrderInfo":{"type":"array","items":{"$ref":"#/components/schemas/PreferentialOrder"}}}},"AuctionResolutionLatestDto":{"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"},"footNote":{"type":"string"},"deedGroupResolution":{"type":"array","items":{"$ref":"#/components/schemas/DeedGroupResolutionLatest"}}}},"DeedGroupResolutionLatest":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"resolution":{"type":"string"},"saletypedesc":{"type":"string"},"minPrice":{"type":"number"},"maxPrice":{"type":"number"},"genCbsAppval":{"type":"number"},"effectiveDateTo":{"type":"string","format":"date"},"meetingDate":{"type":"string","format":"date"},"meetingNo":{"type":"string"},"colRemark":{"type":"string"},"chronicleId":{"type":"string"},"deedGroupCommitteeResolutionId":{"type":"integer","format":"int64"},"footNote":{"type":"string"},"fsubbidnum":{"type":"integer","format":"int32"}}},"AuctionResolutionHistoryResponse":{"type":"object","properties":{"resolutions":{"type":"array","items":{"$ref":"#/components/schemas/ResolutionHistory"}}}},"DeedGroupHistory":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"resolution":{"type":"string"},"saleTypeDesc":{"type":"string"},"minPrice":{"type":"number"},"maxPrice":{"type":"number"},"genCbsAppval":{"type":"number"},"effectiveDateTo":{"type":"string","format":"date"},"colRemark":{"type":"string"},"chronicleId":{"type":"string"},"aucRef":{"type":"integer","format":"int64"},"fsubbidnum":{"type":"string"}}},"ResolutionHistory":{"type":"object","properties":{"meetingNo":{"type":"string"},"meetingDate":{"type":"string"},"totalUpdatedCollateral":{"type":"integer","format":"int32"},"footNote":{"type":"string"},"deedGroups":{"type":"array","items":{"$ref":"#/components/schemas/DeedGroupHistory"}}}},"LatestResolutionInfoResponse":{"type":"object","properties":{"resolution":{"type":"string"},"saletypedesc":{"type":"string"},"minPrice":{"type":"number"},"maxPrice":{"type":"number"},"genCbsAppval":{"type":"number"},"effectiveDateTo":{"type":"string","format":"date"},"chronicleId":{"type":"string"}}},"LedInfoDto":{"type":"object","properties":{"ledId":{"type":"integer","format":"int64"},"litigationCaseId":{"type":"integer","format":"int64"},"blackCaseNo":{"type":"string"},"redCaseNo":{"type":"string"},"ledName":{"type":"string"},"courtName":{"type":"string"},"publicAuctionLawyerId":{"type":"string"},"lawyerName":{"type":"string"},"totalAnnounces":{"type":"integer","format":"int64"}}},"LedInfoResponse":{"type":"object","properties":{"ledInfo":{"type":"array","items":{"$ref":"#/components/schemas/LedInfoDto"}}}},"AuctLitigationDebtSettlementAcctCollateralDto":{"type":"object","properties":{"auctionDebtSettlementAccountDeedGroupId":{"type":"integer","format":"int64"},"deedGroupId":{"type":"integer","format":"int64"},"fsubbidnum":{"type":"string"},"soldPrice":{"type":"number"},"soldDate":{"type":"string"},"createdTimestamp":{"type":"string","format":"date-time"},"updatedTimestamp":{"type":"string","format":"date-time"}}},"AuctionLigationCaseDebtSettlementAccountResponse":{"type":"object","properties":{"auctionDebtSettlementAccountId":{"type":"integer","format":"int64"},"createTimestamp":{"type":"string","format":"date-time"},"status":{"type":"string"},"statusName":{"type":"string"},"debitPercentage":{"type":"string"},"documentType":{"type":"string"},"totalAmount":{"type":"number"},"totalDebtSettlementAmount":{"type":"number"},"totalDeedGroup":{"type":"integer","format":"int32"},"approvedTimestamp":{"type":"string","format":"date-time"},"collateralGroups":{"type":"array","items":{"$ref":"#/components/schemas/AuctLitigationDebtSettlementAcctCollateralDto"}}}},"AuctionLitigationConveyanceProcessDto":{"type":"object","properties":{"deedGroupId":{"type":"integer","format":"int64"},"fsubbidnum":{"type":"string"},"conveyanceStatus":{"type":"string"},"aucBiddingDeedGroupId":{"type":"integer","format":"int64"},"soldDate":{"type":"string"},"aucRef":{"type":"integer","format":"int64"},"ledId":{"type":"integer","format":"int64"},"ledName":{"type":"string"},"aucLedSeq":{"type":"integer","format":"int64"},"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"originalLitigationCaseId":{"type":"integer","format":"int64"},"saleChannel":{"type":"string"},"ownerName":{"type":"string"}}},"AuctionLedsAnnouncesResponse":{"type":"object","properties":{"aucRef":{"type":"integer","format":"int64"},"announceDate":{"type":"string"},"aucLot":{"type":"string"},"aucSet":{"type":"string"},"fbidnum":{"type":"string"},"aucLedSeq":{"type":"string"},"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"originalLitigationCaseId":{"type":"integer","format":"int64"},"redCaseNo":{"type":"string"},"defendantName":{"type":"string"},"plaintiffName":{"type":"string"},"ledId":{"type":"string"},"ledName":{"type":"string"},"lawCourtId":{"type":"string"},"lawCourtName":{"type":"string"},"aucStatus":{"type":"string"},"isExhibit":{"type":"boolean"},"saleChannel":{"type":"string"}}},"LexsCollateralPreferentialResponse":{"type":"object","properties":{"lexsCollaterals":{"type":"array","items":{"$ref":"#/components/schemas/LexsCollaterals"}}}},"LexsCollaterals":{"type":"object","properties":{"collateralId":{"type":"string"},"lexsRedCaseNo":{"type":"string"},"ledId":{"type":"string"},"ledName":{"type":"string"},"lexsCollateralTypeCode":{"type":"string"},"lexsCollateralTypeDesc":{"type":"string"},"lexsCollateralSubTypeCode":{"type":"string"},"lexsCollateralSubTypeDesc":{"type":"string"},"lexsDocumentNo":{"type":"string"},"lexsCollateralsDescription":{"type":"string"},"lexsPlaintiffName":{"type":"string"},"lexsOwnerFullName":{"type":"string"},"lexsDefendantName":{"type":"string"}}},"Collateral":{"type":"object","properties":{"collateralDocNo":{"type":"string"},"collateralId":{"type":"string"}}},"CollateralGroup":{"type":"object","properties":{"externalPaymentTrackingDeedGroupId":{"type":"integer","format":"int64"},"deedGroupId":{"type":"integer","format":"int64"},"collaterals":{"type":"array","items":{"$ref":"#/components/schemas/Collateral"}},"paymentTrackingResult":{"type":"string"},"remark":{"type":"string"},"extendExpiredTimestamp":{"type":"string","format":"date-time"},"extendRecordTimestamp":{"type":"string","format":"date-time"},"paymentCompleteTimestamp":{"type":"string","format":"date-time"},"notPayReason":{"type":"string"},"saleTypeDesc":{"type":"string"},"buyerType":{"type":"string"},"buyerName":{"type":"string"},"soldPrice":{"type":"number"},"aucBiddingDeedGroupId":{"type":"integer","format":"int64"},"extendInfos":{"type":"array","items":{"$ref":"#/components/schemas/ExtendInfo"}},"externalPaymentTrackingDocuments":{"type":"array","items":{"$ref":"#/components/schemas/AnnounceDocument"}},"fsubbidnum":{"type":"string"}}},"ExtendDocument":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateForAuction"},"reuploadable":{"type":"boolean"},"imageSource":{"type":"string"},"imageId":{"type":"string"},"imageName":{"type":"string"}}},"ExtendInfo":{"type":"object","properties":{"extendExpiredTimestamp":{"type":"string","format":"date-time"},"extendRecordTimestamp":{"type":"string","format":"date-time"},"extendDocument":{"$ref":"#/components/schemas/ExtendDocument"}}},"ExternalPaymentTrackingResponse":{"type":"object","properties":{"externalPaymentTrackingId":{"type":"integer","format":"int64"},"aucRef":{"type":"integer","format":"int64"},"aucRound":{"type":"integer","format":"int64"},"trackingRound":{"type":"integer","format":"int64"},"bidDate":{"type":"string","format":"date-time"},"aucLedSeq":{"type":"integer","format":"int64"},"aucBiddingId":{"type":"integer","format":"int64"},"onSiteLawyerId":{"type":"string"},"status":{"type":"string"},"statusName":{"type":"string"},"ledName":{"type":"string"},"collateralGroups":{"type":"array","items":{"$ref":"#/components/schemas/CollateralGroup"}}}},"AdditionalExpenseAuctionDto":{"type":"object","properties":{"ledid":{"type":"integer","format":"int64"},"ledName":{"type":"string"},"courtName":{"type":"string"},"redCaseNo":{"type":"string"},"blackCaseNo":{"type":"string"},"totalSumAmount":{"type":"number"},"additionalExpenseSubmit":{"type":"array","items":{"$ref":"#/components/schemas/AdditionalExpenseSubmit"}}}},"AdditionalExpenseSubmit":{"type":"object","properties":{"expenseOrdialNo":{"type":"integer","format":"int32"},"date":{"type":"string","format":"date"},"expenseRequestType":{"type":"string"},"detail":{"type":"string"},"expenseAmount":{"type":"number"},"statusCode":{"type":"string"},"statusName":{"type":"string"},"reason":{"type":"string"},"auctionExpenseId":{"type":"integer","format":"int64"},"expenseRequestTypeDesc":{"type":"string"}}},"AuctionExpenseDocs":{"type":"object","properties":{"imageSource":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"imageId":{"type":"string"},"imageName":{"type":"string"},"uploadTimestamp":{"type":"string","format":"date-time"},"uploadType":{"type":"string"},"documentTemplate":{"$ref":"#/components/schemas/AuctionExpenseDocumentTemplate"},"editableFlag":{"type":"boolean"},"documentType":{"type":"string"},"feeAmount":{"type":"string"}}},"AuctionExpenseDocumentTemplate":{"type":"object","properties":{"documentTemplateId":{"type":"string"},"documentName":{"type":"string"}}},"AuctionExpenseInfo":{"type":"object","properties":{"id":{"type":"integer","description":"auctionExpenseId","format":"int64","example":1},"ledId":{"type":"integer","format":"int64"},"ledName":{"type":"string"},"auctionExpenseType":{"type":"string"},"createdTimestamp":{"type":"string","format":"date-time"},"litigationCaseId":{"type":"integer","format":"int64"},"commandTimestamp":{"type":"string","format":"date-time"},"citationCaseNo":{"type":"string"},"citationCaseAssignedTimestamp":{"type":"string","format":"date-time"},"citationCaseCreatedTimestamp":{
[...]
