{
  "openapi": "3.0.1",
  "info": {
    "title": "KTB Backend for Frontend APIs.",
    "description": "Microservice: financial",
    "contact": {
      "name": "Krungthai Bank Public Company Limited",
      "url": "https://krungthai.com",
      "email": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lexsdev.krungthai/ktb/rest/lexs",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/v1/receive/{taskId}/approve": {
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "approve",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/transfer-order": {
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getTransferOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransferOrderDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/refund-info/createAdvanceReceive": {
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "createAdvanceReceive",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdvanceReceivePayTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/refund-info/cancelAdvanceReceiveOrder": {
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "cancelAdvanceReceiveOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAdvanceReceiveOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/refund-info/advanceReceiveInfoDetail": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getAdvanceReceiveOrder",
        "parameters": [
          {
            "name": "advanceReceiveNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancePayTransferResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "advanceReceiveInfoDetail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancePayTransferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/receive-order": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getReceiveOrder",
        "parameters": [
          {
            "name": "receiveNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiveOrderDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "saveReceiveOrder",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiveOrderDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/court-receive-order/{taskId}": {
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "saveCourtReceiveOrder",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourtReceiveOrderDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/cancel-receive-order": {
      "post": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "cancelReceiveOrder",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelReceiveOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/transaction-summary/memo-list": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "getFinancialMemoSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialMemoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialMemoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/seizure-fee/{seizureLedId}/upload-receipt": {
      "post": {
        "tags": [
          "seizure-fee-controller"
        ],
        "operationId": "uploadSeizureFeeReceipt",
        "parameters": [
          {
            "name": "seizureLedId",
            "in": "path",
            "description": "seizureLed Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeizureReceiptDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/seizure-fee/{seizureLedId}/upload-invoice": {
      "post": {
        "tags": [
          "seizure-fee-controller"
        ],
        "operationId": "uploadSeizureFeeInvoice",
        "parameters": [
          {
            "name": "seizureLedId",
            "in": "path",
            "description": "seizureLed Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeizureInvoiceDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/seizure-fee/{seizureLedId}/receipt": {
      "post": {
        "tags": [
          "seizure-fee-controller"
        ],
        "operationId": "saveSeizureFeeReceipt",
        "parameters": [
          {
            "name": "seizureLedId",
            "in": "path",
            "description": "seizureLed Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeizureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/seizure-fee/{seizureLedId}/payment": {
      "post": {
        "tags": [
          "seizure-fee-controller"
        ],
        "operationId": "payment",
        "parameters": [
          {
            "name": "seizureLedId",
            "in": "path",
            "description": "seizureLed Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/seizure-fee/{seizureLedId}/non-efiling/tasks/{taskId}/submit": {
      "post": {
        "tags": [
          "seizure-fee-controller"
        ],
        "operationId": "submitReceiptNonEFilling",
        "parameters": [
          {
            "name": "seizureLedId",
            "in": "path",
            "description": "seizureLed Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeizureReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/seizure-fee/{seizureLedId}/non-efiling/tasks/{taskId}/approval": {
      "post": {
        "tags": [
          "seizure-fee-controller"
        ],
        "operationId": "approveReceiptNonEFilling",
        "parameters": [
          {
            "name": "seizureLedId",
            "in": "path",
            "description": "seizureLed Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/upload-execution-receipt": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "saveUploadExecutionReceipt",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionReceiptDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/receipt": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "updateReceipt",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayCourtFeeReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCourtFeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/read-receipt-form": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "readReceiptForm",
        "parameters": [
          {
            "name": "uploadFlag",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RECEIPT",
                "PAYMENT"
              ]
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptFormDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/read-receipt-form-execution-fee": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "readReceiptFormExecutionFee",
        "parameters": [
          {
            "name": "uploadFlag",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RECEIPT",
                "PAYMENT"
              ]
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptFormDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/read-payment-form": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "readPaymentForm",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentFormDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/read-confirm-form": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "readConfirmationForm",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationFormDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/process-not-decree": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "processNotDecree",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionFeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/payment": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "payment_1",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCourtFeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/paymentReceipt": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "paymentReceipt",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCourtFeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/pay-execution-fee": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "savePayExecutionFee",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionFeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/confirm-payment": {
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "confirmPayment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentConfirmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCourtFeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/pay-court-fee/{taskId}/confirm-payment-manual": {
      "get": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "getConfirmPaymentManual",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationFormDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "pay-court-fee-controller"
        ],
        "operationId": "confirmPaymentManual",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 240
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentConfirmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCourtFeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/litigation-transaction-summary/{litigationId}": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "getFinancialLitigationTransactionSummary",
        "parameters": [
          {
            "name": "litigationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialLitigationSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/ewht-reconcile-report/excel": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "downloadEWhtReconcileReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadEWhtReconcileReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/customer-transaction-summary/{customerId}": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "getFinancialCustomerTransactionSummary",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialCustomerSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/customer-summary/{customerId}": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "getFinancialCustomerSummary",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialCustomerSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/convenience-cheque/save": {
      "post": {
        "tags": [
          "convenience-cheque-controller"
        ],
        "operationId": "postCashierChequeApproval",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashierChequePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/convenience-cheque/save/npa": {
      "post": {
        "tags": [
          "convenience-cheque-controller"
        ],
        "operationId": "postCashierChequeApprovalNPA",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashierChequePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/bill-payment-approve": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "billPaymentApprove",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPaymentAddResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/expense/{auctionExpenseId}/upload-receipt": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "uploadAuctionExpenseReceipt",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "description": "auctionExpenseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionReceiptDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/expense/{auctionExpenseId}/upload-invoice": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "uploadAuctionExpenseInvoice",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "description": "auctionExpenseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionInvoiceDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/expense/{auctionExpenseId}/receipt": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "saveAuctionExpenseReceipt",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "description": "auctionExpenseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionExpenseReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionReceiptDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/expense/{auctionExpenseId}/payment": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "payment_2",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "description": "auctionExpense Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionExpensePaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/expense/{auctionExpenseId}/non-efiling/receipt/tasks/{taskId}/submit": {
      "post": {
        "tags": [
          "auction-expense-controller"
        ],
        "operationId": "submitReceiptAuctionExpenseNonEFilling",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "description": "auctionExpenseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionExpenseNonEFilingReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/auction/expense/{auctionExpenseId}/non-efiling/receipt/tasks/{taskId}/approval": {
      "post": {
        "tags": [
          "auction-expense-controller"
        ],
        "operationId": "approveReceiptAuctionExpenseNonEFilling",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "description": "auctionExpenseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 112
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/auction/debt-settlement-account/approval": {
      "post": {
        "tags": [
          "auction-debt-settlement-controller"
        ],
        "operationId": "approvalAuctionDebtSettlementAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionDebtSettlementAccountApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/financial/auction/cashier-cheque/{stampDutyId}/stampDuty/Approval": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "auctionCashierChequeStampDutyApproval",
        "parameters": [
          {
            "name": "stampDutyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionCashierApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/cashier-cheque/{auctionExpenseId}/auctionExpense/Approval": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "auctionCashierChequeExpenseApproval",
        "parameters": [
          {
            "name": "auctionExpenseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionCashierExpenseApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/cashier-cheque/{auctionCollateralId}/collateral/approval": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "auctionCashierChequeApproval",
        "parameters": [
          {
            "name": "auctionCollateralId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionCashierApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/cashier-cheque/{additionalPaymentId}/additional-payment/approval": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "auctionCashierChequeAdditionalApproval",
        "parameters": [
          {
            "name": "additionalPaymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionCashierAdditionApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial/auction/cashier-cheque/transfer-ownership/approval": {
      "post": {
        "tags": [
          "financial-controller"
        ],
        "operationId": "auctionCashierChequeTransferOwnershipApproval",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f6cb2742-45ca-433f-a69b-b06deebf98e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionCashierTransferOwnershipApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (Business Error)",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "headers": {
              "x-request-id": {
                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                "style": "simple"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/expense": {
      "get": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "inquiryExpense",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExpenseInquiryRequest"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "expenseNo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageExpenseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "save",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/expense/{taskId}/revise": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "reject",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/expense/{taskId}/refund": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "refund",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/expense/{taskId}/receipt": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "submitReceipt",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/expense/{taskId}/cancel": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "cancel",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/expense/{taskId}/approve": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "approve_1",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/expense/validate": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "validateExpense",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/expense/transaction/expense-rate/{expenseRateId}/collaterals-assets": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "postExpenseCollateralsAssets",
        "parameters": [
          {
            "name": "expenseRateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollateralsAssetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralsAssetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/expense/tax/calculate": {
      "post": {
        "tags": [
          "expense-controller"
        ],
        "operationId": "getExpenseTaxDetail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseTaxDetailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseTaxDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "inquiryReceive",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReceiveInquiryRequest"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "receiveNo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageReceiveDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/{receiveObjectType}/audit-log": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "inquiryReceiveAuditLog",
        "parameters": [
          {
            "name": "receiveObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiveObjectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageExpenseAuditLogDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/wash-account": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getWashAccountList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WashAccountMasterDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/search-lg": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "search",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReceiveTransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LitigationTransactionDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/refund-info/{washAccountNo}": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getRefundInfo",
        "parameters": [
          {
            "name": "washAccountNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageReceiveKcorpInquiryInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/refund-info/reference/{referenceNo}": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getRefundInfoByReferenceNo",
        "parameters": [
          {
            "name": "referenceNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiveNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageReceiveKcorpPaymentInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/receive-no": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getReceiveNoList",
        "parameters": [
          {
            "name": "tab",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiveMasterDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/memo/{receiveTransactionId}": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "getMemo",
        "parameters": [
          {
            "name": "receiveTransactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExpenseMemoDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/kcorp": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "inquiryReceiveKcorp",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReceiveKcorpInquiryRequest"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "washAccountNo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageReceiveKcorpDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receive/kcorp/excel": {
      "get": {
        "tags": [
          "receive-controller"
        ],
        "operationId": "inquiryReceiveKcorpDownload",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReceiveKcorpInquiryRequest"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "washAccountNo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
[...]
