{"openapi":"3.0.1","info":{"title":"KTB Backend for Frontend APIs.","description":"Microservice: litigation","contact":{"name":"Krungthai Bank Public Company Limited","url":"https://krungthai.com","email":""},"version":"1.0.0"},"servers":[{"url":"https://lexsdev.krungthai/ktb/rest/lexs","description":"Generated server url"}],"security":[{"Authorization":["token"]}],"paths":{"/v1/withdraw-writ-of-exec/{withdrawWritOfExecId}/tasks/{taskId}/approval":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postWithdrawWritOfExecApproval","parameters":[{"name":"withdrawWritOfExecId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/withdraw-writ-of-exec/{withdrawWritOfExecId}/result-record/tasks/{taskId}/submit":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postWithdrawWritOfExecResultSubmit","parameters":[{"name":"withdrawWritOfExecId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WritOfExecResultSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/withdraw-writ-of-exec/{withdrawWritOfExecId}/document-validation/tasks/{taskId}/submit":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postWithdrawWritOfExecDocValidationSubmit","parameters":[{"name":"withdrawWritOfExecId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WritOfExecDocValidationRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/withdraw-writ-of-exec/{withdrawWritOfExecId}/command-acception/tasks/{taskId}/submit":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postWithdrawWritOfExecCommandAcceptionSubmit","parameters":[{"name":"withdrawWritOfExecId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCommandAcceptionSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/withdraw-writ-of-exec/{withdrawWritOfExecId}/cancel":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postWithdrawWritOfExecCancel","parameters":[{"name":"withdrawWritOfExecId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/withdraw-writ-of-exec/litigation-case/{caseId}/tasks/{taskId}/submit":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postWithdrawWritOfExecCaseSubmit","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/notice/{litigationId}/postal":{"post":{"tags":["notice-controller"],"summary":"Update Litigation Postal Receipt","operationId":"updatePostal","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostalRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/notice/{litigationId}/news":{"post":{"tags":["notice-controller"],"summary":"Update Litigation News Announcement","operationId":"updateNewsAnnouncement","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewsAnnouncementRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/notice/{litigationId}/letter":{"post":{"tags":["notice-controller"],"summary":"Update Litigation Notice letter","operationId":"updateNoticeLetter","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoticeLetterRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/notice/{litigationId}/create-address":{"post":{"tags":["notice-controller"],"operationId":"createAddress","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationNoticeDto"}}}}}}},"/v1/notice/tracking":{"get":{"tags":["notice-controller"],"operationId":"getNoticeLetters","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NoticeTrackingDto"}}}}}}},"post":{"tags":["notice-controller"],"operationId":"updateTracking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingResponse"}}}}}}},"/v1/notice/tracking/upload":{"post":{"tags":["notice-controller"],"operationId":"uploadTracking","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListNoticeTrackingExcelUploadDto"}}}}}}},"/v1/notice/new-notice":{"post":{"tags":["notice-controller"],"operationId":"newNotice","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}}}},"/v1/notice/create-notice":{"post":{"tags":["notice-controller"],"operationId":"createNotice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateNoticeRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/notice/create-news":{"post":{"tags":["notice-controller"],"operationId":"createNews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateNewsRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{taskId}/reject":{"post":{"tags":["litigation-controller"],"operationId":"reject","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{taskId}/process-not-prosecute":{"post":{"tags":["litigation-controller"],"operationId":"processNotProsecute","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeirInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{taskId}/process-heir":{"post":{"tags":["litigation-controller"],"operationId":"processHeir","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeirInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{taskId}/approve":{"post":{"tags":["litigation-controller"],"operationId":"approve","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/subaccounts":{"get":{"tags":["litigation-controller"],"operationId":"listAvailableSubAccounts","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountDto"}}}}}}},"post":{"tags":["litigation-controller"],"operationId":"updateSubAccounts","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/memo-update/{memoId}":{"post":{"tags":["litigation-controller"],"operationId":"memoUpdate","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"memoId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/memo-save":{"post":{"tags":["litigation-controller"],"operationId":"memoSave","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/memo-del/{memoId}":{"post":{"tags":["litigation-controller"],"operationId":"memoDelete","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"memoId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/litigation-case/{id}/saveSubmitCourt/{subId}/documents":{"post":{"tags":["litigation-case-controller"],"operationId":"updateDocuments","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"subId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/v1/litigation/{litigationId}/followup":{"get":{"tags":["litigation-controller"],"operationId":"getFollowUp","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LitigationFollowupDto"}}}}}}},"post":{"tags":["litigation-controller"],"operationId":"updateFollowUp","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationFollowupDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/documents":{"post":{"tags":["litigation-controller"],"operationId":"updateDocuments_1","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/v1/litigation/{litigationId}/documents/send":{"post":{"tags":["litigation-controller"],"operationId":"sendDocuments","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentSendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendReceiveDocumentDto"}}}}}}},"/v1/litigation/{litigationId}/documents/receive":{"post":{"tags":["litigation-controller"],"operationId":"receiveDocuments","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReceiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendReceiveDocumentDto"}}}}}}},"/v1/litigation/{litigationId}/assets":{"post":{"tags":["litigation-controller"],"operationId":"updateAssets","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/{litigationId}/additional-persons":{"post":{"tags":["litigation-controller"],"operationId":"updateAdditionalPersons","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/transfer":{"post":{"tags":["litigation-controller"],"operationId":"transferLitigation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLitigationRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/merge":{"post":{"tags":["litigation-controller"],"operationId":"mergeLitigation","parameters":[{"name":"litigationIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeLitigationResponse"}}}}}}},"/v1/litigation/litigation-case":{"post":{"tags":["litigation-case-controller"],"operationId":"insertLitigationCase","parameters":[{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsertLitigationCaseRequest"}}},"required":true},"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsertLitigationCaseResponse"}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsertLitigationCaseResponse"}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsertLitigationCaseResponse"}}}}}}},"/v1/litigation/litigation-case/{taskId}":{"post":{"tags":["litigation-case-controller"],"operationId":"saveLitigationCase","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseRequest"}}},"required":true},"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}}}}},"/v1/litigation/litigation-case/{taskId}/reject":{"post":{"tags":["litigation-case-controller"],"operationId":"reject_1","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/litigation-case/{taskId}/approve":{"post":{"tags":["litigation-case-controller"],"operationId":"approve_1","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/litigation/litigation-case/{id}/saveSubmitCourt":{"post":{"tags":["litigation-case-controller"],"operationId":"updateLitigationSubmitCourt","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLitigationSubCaseRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/litigation-case/{id}/saveReceipt/{subId}":{"post":{"tags":["litigation-case-controller"],"operationId":"updateLitigationReceipt","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"subId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLitigationSubCaseRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/litigation-case/{id}/acknowledge":{"post":{"tags":["litigation-case-controller"],"operationId":"acknowledge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLitigationSubCaseRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/litigation-case/decrease-persons-blackcase":{"post":{"tags":["litigation-case-controller"],"operationId":"decreasePersonsBlackCase","parameters":[{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonLitigationInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/litigation-case/additional-persons-blackcase":{"post":{"tags":["litigation-case-controller"],"operationId":"updateAdditionalPersonsBlackCase","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonLitigationInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation/close":{"post":{"tags":["litigation-controller"],"operationId":"closeLitigation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseLitigationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseLitigationResponse"}}}}}}},"/v1/litigation/additional-persons-blackcase":{"post":{"tags":["litigation-controller"],"operationId":"updateAdditionalPersonsBlackCase_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonLitigationInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation-case/{caseId}/execution/withdraw/validate":{"post":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"postValidateWithdrawWritOfExecInit","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawExecutionValidateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation-case/{caseId}/execution/tasks/{taskId}/submit":{"post":{"tags":["writ-of-exec-controller"],"operationId":"postExecutionTaskSubmit","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionTaskSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation-case/{caseId}/execution/documents/power-of-attorney/result":{"post":{"tags":["writ-of-exec-controller"],"operationId":"postDocumentPowerOfAttorneyResult","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionDocAttorneyResultRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation-case/{caseId}/execution/documents/issuance-of-execution":{"post":{"tags":["writ-of-exec-controller"],"operationId":"saveDocumentIssuanceOfExecution","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionDocIssuanceRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation-case/{caseId}/execution/documents/issuance-of-execution/result":{"post":{"tags":["writ-of-exec-controller"],"operationId":"postDocumentIssuanceOfExecutionResult","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionDocIssuanceResultRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/litigation-case/{caseId}/execution/documents/debt-calculation":{"post":{"tags":["writ-of-exec-controller"],"operationId":"postExecutionDocDebtCalculation","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUploadResponse"}}}}}}},"/v1/litigation-case/{caseId}/execution/accounts/{accountNo}/documents/tfs-payment-history":{"post":{"tags":["writ-of-exec-controller"],"operationId":"uploadDocumentTfsPaymentHistory","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"accountNo","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUploadResponse"}}}}}}},"/v1/deferment/save":{"post":{"tags":["deferment-controller"],"operationId":"saveCustomerDeferment","parameters":[{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentRequest"}}},"required":true},"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentResponse"}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentResponse"}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentResponse"}}}}}}},"/v1/deferment/revise":{"post":{"tags":["deferment-controller"],"operationId":"revise","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentReviseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentReviseResponse"}}}}}}},"/v1/deferment/inquiry":{"post":{"tags":["deferment-controller"],"operationId":"inquiryCustomerDeferment","parameters":[{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryDefermentRequest"}}},"required":true},"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentDto"}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentDto"}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentDto"}}}}}}},"/v1/deferment/cancel":{"post":{"tags":["deferment-controller"],"operationId":"cancel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentCancelResponse"}}}}}}},"/v1/deferment-exec/tasks/{taskId}/reject":{"post":{"tags":["deferment-exec-controller"],"operationId":"reject_2","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/deferment-exec/tasks/{taskId}/approve":{"post":{"tags":["deferment-exec-controller"],"operationId":"approve_2","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/deferment-exec/save":{"post":{"tags":["deferment-exec-controller"],"operationId":"saveCustomerDeferment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentExecRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentExecResponse"}}}}}}},"/v1/deferment-exec/save-announce-suspend-auction":{"post":{"tags":["deferment-exec-controller"],"operationId":"saveAnnounceSuspendAuction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveDefermentExecRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveAnnounceSuspendAuctionResponse"}}}}}}},"/v1/deferment-exec/revise":{"post":{"tags":["deferment-exec-controller"],"operationId":"revise_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentExecReviseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentExecReviseResponse"}}}}}}},"/v1/deferment-exec/litigation/collaterals":{"post":{"tags":["deferment-exec-controller"],"operationId":"postForLitigationCollaterals","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationsCollateralsResponse"}}}}}}},"/v1/deferment-exec/inquiry":{"post":{"tags":["deferment-exec-controller"],"operationId":"inquiryCustomerDeferment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryDefermentExecRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentExecDto"}}}}}}},"/v1/deferment-exec/document/get-empty-suspend-auction":{"post":{"tags":["deferment-exec-controller"],"operationId":"getEmptySuspendAuctionDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuspendAuctionDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/v1/deferment-exec/cancel":{"post":{"tags":["deferment-exec-controller"],"operationId":"cancel_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentExecCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefermentCancelResponse"}}}}}}},"/v1/court/{taskId}/reject":{"post":{"tags":["court-controller"],"operationId":"reject_3","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/{taskId}/approve":{"post":{"tags":["court-controller"],"operationId":"approve_3","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v1/court/{taskId}/approve-appeal":{"post":{"tags":["court-controller"],"operationId":"approveAppeal","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppealDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/{litigationCaseId}/update-bank-remark":{"post":{"tags":["court-controller"],"operationId":"updateBankRemark","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBankRemarkRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/verdict":{"post":{"tags":["court-controller"],"operationId":"updateCourtVerdict","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtVerdictDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/extend-appeal":{"post":{"tags":["court-controller"],"operationId":"extendAppeal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendAppealDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/dispute-appeal":{"post":{"tags":["court-controller"],"operationId":"updateDisputeAppeal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisputeAppealDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/decree":{"post":{"tags":["court-controller"],"operationId":"updateCourtDecree","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDecreeDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/decree/send-status":{"post":{"tags":["court-controller"],"operationId":"updateCourtDecreePerson","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDecreePersonDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court/appeal":{"post":{"tags":["court-controller"],"operationId":"updateCourtAppeal","parameters":[{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppealDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/court-trial/trial":{"post":{"tags":["court-trial-controller"],"operationId":"updateCourtTrial","parameters":[{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtTrialDetailDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtTrialUpdateResponse"}}}}}}},"/v1/withdraw-writ-of-exec/{withdrawWritOfExecId}/litigation-case/{caseId}":{"get":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"getWithdrawWritOfExec","parameters":[{"name":"withdrawWritOfExecId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawWritOfExecResponse"}}}}}}},"/v1/withdraw-writ-of-exec/litigation/{litigationId}":{"get":{"tags":["withdraw-writ-of-exec-controller"],"operationId":"getWithdrawWritOfExecByLitigation","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawWritOfExecByLitigationResponse"}}}}}}},"/v1/notice/{noticeId}/download":{"get":{"tags":["notice-controller"],"summary":"Generate Notice Letter","description":"Return as file(byte array) with filename.","operationId":"downloadNoticeLetter","parameters":[{"name":"noticeId","in":"path","description":"Notice Id","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.wordprocessingml.document":{"schema":{"type":"string","format":"byte"}}}}}}},"/v1/notice/{litigationId}":{"get":{"tags":["notice-controller"],"summary":"List LitigationNotice by litigationId.","description":"Return list of LitigationNotice.","operationId":"listLitigationNotice","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LitigationNoticeDto"}}}}}}}},"/v1/notice/tracking/excel":{"get":{"tags":["notice-controller"],"operationId":"getNoticeLettersExcel","responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageNoticeTrackingDto"}}}}}}},"/v1/notice/dashboard":{"get":{"tags":["notice-controller"],"operationId":"getDashboardInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoticeDashboard"}}}}}}},"/v1/litigation":{"get":{"tags":["litigation-controller"],"operationId":"inquiryLitigation","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LitigationSearchConditionRequest"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLitigationDto"}}}}}}},"/v1/litigation/{litigationId}":{"get":{"tags":["litigation-controller"],"operationId":"getLitigation","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationDetailDto"}}}}}}},"/v1/litigation/{litigationId}/persons-relation/{serviceName}":{"get":{"tags":["litigation-controller"],"operationId":"getAdditionalPersonsRelation","parameters":[{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonLitigationInfo"}}}}}}},"/v1/litigation/{litigationId}/memo":{"get":{"tags":["litigation-controller"],"operationId":"getMemoLitigation","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"searchDesc","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationMemoInfo"}}}}}}},"/v1/litigation/{litigationId}/litigation-case":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCase","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LitigationCaseGroupDto"}}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LitigationCaseGroupDto"}}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LitigationCaseGroupDto"}}}}}}}},"/v1/litigation/{litigationId}/legal-executions/{litigationCaseId}/writ-of-execs":{"get":{"tags":["writ-of-exec-controller"],"operationId":"getLegalExecutionWritOfExecsByLgIdAngLgCaseId","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationWritOfExecDetailDto"}}}}}}},"/v1/litigation/{litigationId}/legal-executions/writ-of-execs":{"get":{"tags":["writ-of-exec-controller"],"operationId":"getLegalExecutionWritOfExecsByLgId","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalExecutionWritOfExecsResponse"}}}}}}},"/v1/litigation/{litigationId}/get-heir-info/{personId}":{"get":{"tags":["litigation-controller"],"operationId":"getHeirInformation","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonHeirInfoDto"}}}}}}},"/v1/litigation/{litigationId}/expense-info":{"get":{"tags":["litigation-controller"],"operationId":"getExpenseInfo","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseInfo"}}}}}}},"/v1/litigation/{litigationId}/documents/download-return-original-cover":{"get":{"tags":["litigation-controller"],"operationId":"downloadReturnOriginalCover","parameters":[{"name":"litigationId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnOriginalCoverResponse"}}}}}}},"/v1/litigation/{litigationId}/documents/download-ktb-logistic-document":{"get":{"tags":["litigation-controller"],"operationId":"downloadKtbLogisticDoc","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnOriginalCoverResponse"}}}}}}},"/v1/litigation/{litigationId}/document/excel":{"get":{"tags":["litigation-controller"],"operationId":"documentExcel","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageDocumentExcelDto"}}}}}}},"/v1/litigation/{litigationId}/document-audit-log":{"get":{"tags":["litigation-controller"],"operationId":"inquiryDocumentAuditLog","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentTemplateId","in":"query","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDocumentAuditLogDto"}}}}}}},"/v1/litigation/{litigationId}/audit-log":{"get":{"tags":["litigation-controller"],"operationId":"inquireAuditLog","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"action","in":"query","required":false,"schema":{"type":"string"}},{"name":"target","in":"query","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLitigationAuditLogDto"}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLitigationAuditLogDto"}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLitigationAuditLogDto"}}}}}}},"/v1/litigation/workbench/status/excel":{"get":{"tags":["litigation-controller"],"operationId":"litigationStatusDownloadExcel","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LitigationSearchConditionRequest"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageLitigationStatusDashboardExcelDto"}}}}}}},"/v1/litigation/workbench/deferment/excel":{"get":{"tags":["litigation-controller"],"operationId":"litigationDefermentDownloadExcel","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LitigationSearchConditionRequest"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageLitigationDefermentDashboardExcelDto"}}}}}}},"/v1/litigation/workbench/deferment-exec/excel":{"get":{"tags":["litigation-controller"],"operationId":"litigationDefermentExecDownloadExcel","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LitigationSearchConditionRequest"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageLitigationDefermentDashboardExcelDto"}}}}}}},"/v1/litigation/workbench/collateral-lexs-status":{"get":{"tags":["litigation-controller"],"operationId":"inquiryCollateralLexsStatus","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CollateralLexsStatusSearchRequest"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCollateralLexsStatusDto"}}}}}}},"/v1/litigation/workbench/collateral-lexs-status/excel":{"get":{"tags":["litigation-controller"],"operationId":"downloadCollateralLexsStatus","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CollateralLexsStatusSearchRequest"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageCollateralLexsStatusExcelDto"}}}}}}},"/v1/litigation/transfer/options":{"get":{"tags":["litigation-controller"],"operationId":"transferTaskUserOption","parameters":[{"name":"keywords","in":"query","required":false,"schema":{"type":"string"}},{"name":"roleCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LexsUserTransferOption"}}}}}}}},"/v1/litigation/merge/accounts":{"get":{"tags":["litigation-controller"],"operationId":"inquiryMergedAccounts","parameters":[{"name":"litigationIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountDto"}}}}}}}},"/v1/litigation/litigation-case/{id}":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCaseDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"x-request-id","in":"header","description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","required":true,"schema":{"type":"string"},"example":"f6cb2742-45ca-433f-a69b-b06deebf98e6"}],"responses":{"422":{"description":"Unprocessable Entity (Business Error)","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"400":{"description":"Bad Request","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"503":{"description":"Service Unavailable","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}},"200":{"description":"Success","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}},"504":{"description":"Gateway Timeout","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"500":{"description":"Internal server error occurred","headers":{"x-request-id":{"description":"36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}}}}},"/v1/litigation/litigation-case/{id}/submitCourt":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationSubmitCourt","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"isPlaintiff","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"courtLevel","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}}}}},"/v1/litigation/litigation-case/{id}/submitCourt/{subId}":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationSubmitCourtById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"subId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDto"}}}}}}},"/v1/litigation/litigation-case/{caseId}/persons":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCasePersons","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCasePersonsDto"}}}}}}},"/v1/litigation/litigation-case/{caseId}/documents":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCaseDocuments","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDocumentsResponse"}}}}}}},"/v1/litigation/litigation-case/{caseId}/accounts/documents":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCaseAccountDocuments","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDocumentsResponse"}}}}}}},"/v1/litigation/litigation-case/parent/{litigationCaseId}":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCaseRelatedLGIDList","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseRelatedLGIDDto"}}}}}}},"/v1/litigation/litigation-case-short/{id}":{"get":{"tags":["litigation-case-controller"],"operationId":"getLitigationCaseShortDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseShortDto"}}}}}}},"/v1/litigation/excel":{"get":{"tags":["litigation-controller"],"operationId":"inquiryLitigationDownload","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LitigationSearchConditionRequest"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/PageLitigationExcelDto"}}}}}}},"/v1/litigation-case/{caseId}/execution/documents":{"get":{"tags":["writ-of-exec-controller"],"operationId":"getExecutionDocuments","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseExecutionDocumentResponse"}}}}}}},"/v1/litigation-case/{caseId}/execution/debt-calculation-info":{"get":{"tags":["writ-of-exec-controller"],"operationId":"getDebtCalculationInfo","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LitigationCaseDebtCalculationDto"}}}}}}},"/v1/deferment/{customerId}/getLitigationIds":{"get":{"tags":["deferment-controller"],"operationId":"getLitigationIdByCustomerId","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v1/deferment/download":{"get":{"tags":["deferment-controller"],"operationId":"download","parameters":[{"name":"defermentId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/v1/deferment-exec/{customerId}/getLitigationIds":{"get":{"tags":["deferment-exec-controller"],"operationId":"getLitigationIdByCustomerId_1","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}}}}},"/v1/court/{litigationId}":{"get":{"tags":["court-controller"],"summary":"Get Litigation Court Result (Verdict/Appeal/Decree) by litigationId.","description":"Return CourtVerdictDto.","operationId":"getCourtResults","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":"LE12345678"},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtResultDto"}}}}}}}},"/v1/court/{litigationId}/verdict/{litigationCaseId}":{"get":{"tags":["court-controller"],"summary":"Get Litigation Court Verdict by litigationId.","description":"Return CourtVerdictDto.","operationId":"getCourtVerdictDetail","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":"LE12345678"},{"name":"litigationCaseId","in":"path","description":"Litigation Case Id","required":true,"schema":{"type":"integer","format":"int64"},"example":2},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtVerdictDto"}}}}}}},"/v1/court/{litigationId}/dispute-appeal/{litigationCaseId}/{disputeAppealId}":{"get":{"tags":["court-controller"],"summary":"Get Litigation Dispute Appeal by litigationId, litigationCaseId and disputeAppealId.","description":"Return CourtVerdictDto.","operationId":"getDisputeAppealDetail","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":"LE12345678"},{"name":"litigationCaseId","in":"path","description":"Litigation Case Id","required":true,"schema":{"type":"integer","format":"int64"},"example":2},{"name":"disputeAppealId","in":"path","description":"Dispute Appeal Id","required":true,"schema":{"type":"integer","format":"int64"},"example":3},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisputeAppealBundleDto"}}}}}}},"/v1/court/{litigationId}/decree/{litigationCaseId}/{courtDecreeId}":{"get":{"tags":["court-controller"],"summary":"Get Litigation Court Decree by litigationId, litigationCaseId and courtDecreeId.","description":"Return CourtDecreeDto.","operationId":"getCourtDecreeDetail","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":"LE12345678"},{"name":"litigationCaseId","in":"path","description":"Litigation Case Id","required":true,"schema":{"type":"integer","format":"int64"},"example":2},{"name":"courtDecreeId","in":"path","description":"Court Decree Id","required":true,"schema":{"type":"integer","format":"int64"},"example":3}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDecreeDto"}}}}}}},"/v1/court/{litigationId}/appeal/{litigationCaseId}":{"get":{"tags":["court-controller"],"summary":"Get Litigation Court Appeal by litigationId.","description":"Return CourtAppealDto.","operationId":"getCourtAppeal","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1},{"name":"litigationCaseId","in":"path","description":"litigation case Id","required":true,"schema":{"type":"integer","format":"int64"},"example":2},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppealBundleDto"}}}}}}},"/v1/court/{litigationCaseId}/downloadOrderLetter":{"get":{"tags":["court-controller"],"summary":"Generate order letter","operationId":"downloadOrderLetter","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/v1/court/{litigationCaseId}/download-receive-request-form":{"get":{"tags":["court-controller"],"summary":"Generate receive request form","operationId":"downloadReceiveRequestForm","parameters":[{"name":"litigationCaseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"source","in":"query","description":"source step of download (VERDICT / DECREE)","required":true,"schema":{"type":"string"},"example":"VERDICT / DECREE"},{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadDocumentResponse"}}}}}}},"/v1/court/{litigationCaseId}/download-conclusion":{"get":{"tags":["court-controller"],"operationId":"downloadConclusionDocument","parameters":[{"name":"litigationCaseId","in":"path","description":"Litigation Case Id","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadDocumentResponse"}}}}}}},"/v1/court/extend-appeal/{litigationCaseId}":{"get":{"tags":["court-controller"],"summary":"Get extend appeal by litigationCaseId.","description":"Return CourtVerdictDto.","operationId":"getExtendAppealDetail","parameters":[{"name":"litigationCaseId","in":"path","description":"Litigation Case Id","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendAppealDto"}}}}}}}},"/v1/court/download-static/{id}":{"get":{"tags":["court-controller"],"operationId":"downloadStaticDocument","parameters":[{"name":"id","in":"path","description":"generated document id","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"byte"}}}}}}},"/v1/court/document/{processType}":{"get":{"tags":["court-controller"],"summary":"Get document list for court process.","description":"Return DocumentDto.","operationId":"getCourtDocument","parameters":[{"name":"processType","in":"path","description":"trial / verdict / ","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/v1/court/decree/{courtDecreeId}/person/{personId}":{"get":{"tags":["court-controller"],"summary":"Get send status.","description":"Return CourtDecreePersonDto.","operationId":"getCourtDecreePersonDetail","parameters":[{"name":"courtDecreeId","in":"path","description":"Court Decree Id","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"personId","in":"path","description":"Court Decree Person Id","required":true,"schema":{"type":"string"},"example":2}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDecreePersonDto"}}}}}}},"/v1/court-trial/{litigationId}":{"get":{"tags":["court-trial-controller"],"summary":"Get Litigation Court Trial by litigationId.","description":"Return CourtTrialDto.","operationId":"getCourtTrial","parameters":[{"name":"litigationId","in":"path","description":"Litigation Id","required":true,"schema":{"type":"string"},"example":1},{"name":"taskId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtTrialDto"}}}}}}}}},"components":{"schemas":{"PostApprovalRequest":{"required":["action"],"type":"object","properties":{"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"action":{"type":"string","description":"APPROVE, RETURN, REJECT","example":"APPROVE","enum":["APPROVE","REJECT","RETURN"]},"reason":{"type":"string"}}},"DocumentTemplateDto":{"type":"object","properties":{"documentTemplateId":{"type":"string"},"documentName":{"type":"string"},"searchType":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"documentGroup":{"type":"string","enum":["LITIGATION","NOTICE","EFILING","COURT_FEE","PERSON","PERSON_LCS","COLLATERAL_CONTRACT","COLLATERAL","COLLATERAL_APPRAISAL","COLLATERAL_TCG_SUNDRY","COLLATERAL_INS_SUNDRY","COLLATERAL_INS_POLICY","COLLATERAL_OTHER","ACCOUNT_BILL","ACCOUNT_OTHER","ACCOUNT_CONTRACT","ACCOUNT_TFS","ACCOUNT_COMMITMENT","LINKAGE","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","LEGAL_EXECUTION","SEIZURE","WITHDRAW_SEIZURE","AUCTION","ACCOUNT_DEBT_CALCULATION","AUCREFRESULT","AUCDEEDGROUPRESULT","AUCDEEDGROUPRETURN","AUCBIDRESULT","DEBT_SETTLEMENT","ASSET","PREFERENCE"]},"needHardCopy":{"type":"boolean"},"optional":{"type":"boolean"},"forNoticeLetter":{"type":"boolean"},"forLitigation":{"type":"boolean"},"requiredDocumentDate":{"type":"boolean"},"autoMatchType":{"type":"string"},"contentType":{"type":"string"},"generatedBySystem":{"type":"boolean"},"multipleUpload":{"type":"boolean"}}},"WithdrawWritOfExecDocumentDto":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"uploadSessionId":{"type":"string"},"imageSource":{"type":"string"},"imageId":{"type":"string"},"imageName":{"type":"string"},"uploadTimestamp":{"type":"string","format":"date-time"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateDto"}}},"WritOfExecResultSubmitRequest":{"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"withdrawWritOfExecId":{"type":"integer","format":"int64"},"litigationCaseId":{"type":"integer","format":"int64"},"withdrawWritOfExecDatetime":{"type":"string","format":"date-time"},"withdrawWritOfExecResult":{"type":"string"},"withdrawWritOfExecRemark":{"type":"string"},"returnAmount":{"type":"number"},"withdrawWritOfExecDocument":{"$ref":"#/components/schemas/WithdrawWritOfExecDocumentDto"}}},"WritOfExecDocValidationRequest":{"type":"object","properties":{"publicAuctionLawyerId":{"type":"string"}}},"PostCommandAcceptionSubmitRequest":{"required":["publicAuctionLawyerId"],"type":"object","properties":{"publicAuctionLawyerId":{"type":"string"}}},"PostSubmitRequest":{"required":["headerFlag"],"type":"object","properties":{"headerFlag":{"type":"string","description":"DRAFT, SUBMIT","example":"SUBMIT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"litigationId":{"type":"string"},"withdrawWritOfExecId":{"type":"integer","format":"int64"},"withdrawWritOfExecReason":{"type":"string"},"withdrawWritOfExecOtherReasonRemark":{"type":"string"}}},"PostalDto":{"type":"object","properties":{"noticeId":{"type":"integer","description":"Notice ID","format":"int64","example":1},"postalImageId":{"type":"string","description":"เลขอ้างอิงที่ได้จากการแนบเอกสาร (ใบเหลือง)"},"addressType":{"type":"string","description":"ประเภทที่อยู่ REGISTRATION(ที่อยู่ตามทะเบียน), CONTRACT(ที่อยู่ตามสัญญา), RECEIVERSHIP(พิทักษ์ทรัพย์)","enum":["REGISTRATION","CONTRACT","RECEIVERSHIP"]},"noticeNo":{"type":"string","description":"หมายเลขหนังสือบอกกล่าว"},"updateFlag":{"type":"string","enum":["A","U","D"]}},"description":"List รายการบอกกล่าว"},"PostalRequest":{"required":["headerFlag","notices","taskId"],"type":"object","properties":{"taskId":{"type":"integer","description":"Task Id","format":"int64"},"headerFlag":{"type":"string","description":"Header Flag // DRAFT,SUBMIT","example":"DRAFT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"notices":{"type":"array","description":"List รายการบอกกล่าว","items":{"$ref":"#/components/schemas/PostalDto"}}}},"NewsAnnouncementDto":{"required":["noticeStatus"],"type":"object","properties":{"noticeId":{"type":"integer","description":"Notice ID","format":"int64","example":1},"noticeDate":{"type":"string","description":"วันที่ออกหนังสือบอกกล่าว, วันที่ประกาศหนังสือพิมพ์","format":"date"},"firstNoticeDate":{"type":"string","description":"วันประกาศหนังสือพิมพ์วันแรก","format":"date"},"lastNoticeDate":{"type":"string","description":"วันประกาศ นสพ วันสุดท้าย","format":"date"},"noticeDueDate":{"type":"string","description":"วันที่กําหนดให้ชําระหนี้ตามหนังสือพิมพ์","format":"date"},"noticeImageId":{"type":"string","description":"เลขอ้างอิงที่ได้จากการแนบเอกสาร (บอกกล่าว)"},"noticeNo":{"type":"string","description":"เลขที่อ้างอิง"},"newspaperName":{"type":"string","description":"ชื่อหนังสือพิมพ์"},"noticeStatus":{"type":"string","description":"Notice Status // DRAFT_NOTICE,DOWNLOADED,SUCCESS_NOTICE,DOWNLOADED","example":"DOWNLOADED","enum":["WAITING","DRAFT_NOTICE","DOWNLOADED","SUCCESS_NOTICE","DRAFT_TRACKING","SUCCESS_TRACKING","SUCCESS_CONFIRM"]},"updateFlag":{"type":"string","enum":["A","U","D"]}},"description":"List รายการบอกกล่าว"},"NewsAnnouncementRequest":{"required":["headerFlag","notices","taskId"],"type":"object","properties":{"taskId":{"type":"integer","description":"Task Id","format":"int64"},"headerFlag":{"type":"string","description":"Header Flag // DRAFT,SUBMIT","example":"DRAFT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"notices":{"type":"array","description":"List รายการบอกกล่าว","items":{"$ref":"#/components/schemas/NewsAnnouncementDto"}}}},"NoticeLetterDto":{"required":["noticeStatus"],"type":"object","properties":{"noticeId":{"type":"integer","description":"Notice ID","format":"int64","example":1},"noticeDate":{"type":"string","description":"วันที่ออกหนังสือบอกกล่าว, วันที่ประกาศหนังสือพิมพ์","format":"date"},"noticeDuration":{"type":"integer","description":"ระยะเวลาชำระหนี้ตามหนังสือบอกกล่าว","format":"int32"},"noticeImageId":{"type":"string","description":"เลขอ้างอิงที่ได้จากการแนบเอกสาร (บอกกล่าว)"},"noticeStatus":{"type":"string","description":"Notice Status // DRAFT_NOTICE,DOWNLOADED,SUCCESS_NOTICE,DOWNLOADED","example":"DRAFT_NOTICE","enum":["WAITING","DRAFT_NOTICE","DOWNLOADED","SUCCESS_NOTICE","DRAFT_TRACKING","SUCCESS_TRACKING","SUCCESS_CONFIRM"]},"updateFlag":{"type":"string","enum":["A","U","D"]}},"description":"List รายการบอกกล่าว"},"NoticeLetterRequest":{"required":["headerFlag","notices","taskId"],"type":"object","properties":{"taskId":{"type":"integer","description":"Task Id","format":"int64"},"headerFlag":{"type":"string","description":"Header Flag // DRAFT,SUBMIT","example":"DRAFT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"notices":{"type":"array","description":"List รายการบอกกล่าว","items":{"$ref":"#/components/schemas/NoticeLetterDto"}}}},"CreateAddressRequest":{"required":["addressType","personId"],"type":"object","properties":{"personId":{"type":"string"},"addressType":{"type":"string","enum":["REGISTRATION","CONTRACT","RECEIVERSHIP"]}}},"LitigationNoticeDto":{"type":"object","properties":{"noticeId":{"type":"integer","description":"Notice ID","format":"int64","example":1},"litigationId":{"type":"string","description":"Litigation ID","example":"MOCK0008"},"groupNo":{"type":"integer","description":"บอกกล่าวครั้งที่ N","format":"int32"},"personId":{"type":"string","description":"Person ID","example":"12345"},"personName":{"type":"string","description":"ส่งจำเลย XX"},"relation":{"type":"string","description":"ความสัมพันธ์","enum":["MAIN_BORROWER","CO_BORROWER","GUARANTOR","COLLATERAL_OWNER","MAIN_BORROWER_TRUSTEE","CO_BORROWER_TRUSTEE","GUARANTOR_TRUSTEE","MAIN_BORROWER_HEIR","CO_BORROWER_HEIR","GUARANTOR_HEIR","STAND_IN_PAYER","DEBT_ACCEPTOR","DEBT_ACCEPT_SIGNER","CO_DEFENDANT"]},"noticeNo":{"type":"string","description":"หมายเลขหนังสือบอกกล่าว"},"addressType":{"type":"string","description":"ประเภทที่อยู่ REGISTRATION(ที่อยู่ตามทะเบียน), CONTRACT(ที่อยู่ตามสัญญา), RECEIVERSHIP(พิทักษ์ทรัพย์)","enum":["REGISTRATION","CONTRACT","RECEIVERSHIP"]},"addressDetail":{"type":"string","description":"รายละเอียดที่อยู่"},"noticeDate":{"type":"string","description":"วันที่ออกหนังสือบอกกล่าว, วันที่ประกาศหนังสือพิมพ์","format":"date"},"noticeDuration":{"type":"integer","description":"ระยะเวลาชำระหนี้ตามหนังสือบอกกล่าว","format":"int32"},"firstNoticeDate":{"type":"string","description":"วันประกาศหนังสือพิมพ์วันแรก","format":"date"},"lastNoticeDate":{"type":"string","description":"วันประกาศ นสพ วันสุดท้าย","format":"date"},"noticeDueDate":{"type":"string","description":"วันที่ครบกำหนด","format":"date"},"noticeStatus":{"type":"string","description":"สถานะบอกกล่าว","enum":["WAITING","DRAFT_NOTICE","DOWNLOADED","SUCCESS_NOTICE","DRAFT_TRACKING","SUCCESS_TRACKING","SUCCESS_CONFIRM"]},"personStatus":{"type":"string","description":"สถานะบุคคล","enum":["ALIVE","DEATH","OPEN","CLOSE"]},"personType":{"type":"string","description":"ประเภทบุคคล","enum":["INDIVIDUAL","JURISTIC"]},"referencePersonId":{"type":"string","description":"Reference Person Id"},"noticeType":{"type":"string","description":"Notice Type-NEWS,LETTER","enum":["LETTER","NEWS"]},"cifNo":{"type":"string","description":"CIF No"},"taskId":{"type":"integer","description":"Task ID","format":"int64"},"taskCode":{"type":"string","description":"Task Code"},"trackingStatus":{"type":"string","description":"สถานะการจัดส่งไปรณีย์-SUCCESS,FAILED"},"noticeTemplateNo":{"type":"string","description":"Template No"},"successNoticeDate":{"type":"string","description":"วันที่บอกกล่าวสำเร็จ","format":"date"},"trackingStatusName":{"type":"string","description":"รายละเอียดสถานะการจัดส่งไปรณีย์-จัดส่งแล้ว,อยู่ระหว่างการจัดส่ง,จัดส่งไม่สำเร็จ,หมายเลขติดตามไม่ถูกต้อง"},"actionFlag":{"type":"boolean","description":"true - ถ้าสามารถแก้ไขได้"},"taskUserId":{"type":"string","description":"User ID ของ Task"},"noticeImageId":{"type":"string","description":"เลขอ้างอิงที่ได้จากการแนบเอกสาร (บอกกล่าว)"},"noticeImageSource":{"type":"string","description":"Source ของ image"},"postalImageId":{"type":"string","description":"เลขอ้างอิงที่ได้จากการแนบเอกสาร (ใบเหลือง)"},"documentTemplateId":{"type":"string","description":"Document Template ID"},"primaryCif":{"type":"string","description":"CIF ผู้กู้หลัก"},"deliveryDescription":{"type":"string","description":"รายละเอียดสถานะผู้รับ"},"deliveryDateTime":{"type":"string","description":"วันที่ผู้รับไปรษณี","format":"date-time"},"deliveryStatus":{"type":"string","description":"รหัสสถานะผู้รับไปรษณี"},"thaiPostStatus":{"type":"string","description":"รหัสสถานะไปรษณี"},"thaiPostStatusDescription":{"type":"string","description":"รายละเอียดสถานะไปรษณี"},"newspaperName":{"type":"string","description":"ชื่อหนังสือพิมพ์"},"addressId":{"type":"integer","description":"ID ที่อยู่","format":"int64"},"barcode":{"type":"string","description":"Barcode"},"relationList":{"type":"array","description":"ความสัมพันธ์ที่แสดงในหน้าจอบอกกล่าว","items":{"type":"string","description":"ความสัมพันธ์ที่แสดงในหน้าจอบอกกล่าว","enum":["MAIN_BORROWER","CO_BORROWER","GUARANTOR","COLLATERAL_OWNER","MAIN_BORROWER_TRUSTEE","CO_BORROWER_TRUSTEE","GUARANTOR_TRUSTEE","MAIN_BORROWER_HEIR","CO_BORROWER_HEIR","GUARANTOR_HEIR","STAND_IN_PAYER","DEBT_ACCEPTOR","DEBT_ACCEPT_SIGNER","CO_DEFENDANT"]}},"isCollateralOwner":{"type":"boolean","description":"Collateral Owner Flag"}}},"TrackingRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TrackingRequestItem"}}}},"TrackingRequestItem":{"type":"object","properties":{"litigationId":{"type":"string"},"noticeId":{"type":"integer","format":"int64"},"barcode":{"type":"string"}}},"TrackingResponse":{"type":"object","properties":{"successCount":{"type":"integer","format":"int32"}}},"Item":{"type":"object","properties":{"litigationId":{"type":"string"},"noticeNo":{"type":"string"},"barcode":{"type":"string"}}},"ListNoticeTrackingExcelUploadDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Item"}}}},"CreateNoticeRequest":{"required":["idCardChange","litigationId","personId"],"type":"object","properties":{"litigationId":{"type":"string","description":"Litigation ID"},"personId":{"type":"string","description":"Person ID"},"idCardChange":{"type":"boolean","description":"เปลี่ยนเลขบัตร ปชช"}}},"CreateNewsRequest":{"required":["litigationId","personIds","taskId"],"type":"object","properties":{"taskId":{"type":"integer","description":"Task ID","format":"int64"},"litigationId":{"type":"string","description":"Litigation ID"},"personIds":{"type":"array","description":"List Person ID","items":{"type":"string","description":"List Person ID"}}}},"RejectRequest":{"type":"object","properties":{"reason":{"type":"string"},"returnFlag":{"type":"boolean"}}},"DocumentRequest":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"imageSource":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"imageId":{"type":"string"},"imageName":{"type":"string"},"documentTemplateId":{"type":"string"},"documentName":{"type":"string"},"originalImageId":{"type":"string"},"storeOrganization":{"type":"string"},"handlingOrganization":{"type":"string"},"ownerOrganization":{"type":"string"},"hasOriginalCopy":{"type":"boolean"},"active":{"type":"boolean"},"documentDate":{"type":"string","format":"date-time"},"docRefId":{"type":"string"},"commitmentAccounts":{"type":"array","items":{"type":"string"}},"updateFlag":{"type":"string","enum":["A","U","D"]}}},"HeirInfoRequest":{"type":"object","properties":{"headerFlag":{"type":"string","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"approvalStatus":{"type":"string","enum":["APPROVE","REJECT","RETURN"]},"litigationId":{"type":"string"},"reason":{"type":"string"},"document":{"$ref":"#/components/schemas/DocumentRequest"},"heirPersonId":{"type":"string"},"deceasePersonId":{"type":"string"},"haveHeir":{"type":"boolean"}}},"UpdateSubAccountRequest":{"type":"object","properties":{"accountIds":{"type":"array","items":{"type":"string"}}}},"MemoRequest":{"type":"object","properties":{"customerId":{"type":"string"},"description":{"type":"string"}}},"DocumentInfoRequest":{"type":"object","properties":{"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentRequest"}},"closeTaskId":{"type":"integer","format":"int64"}}},"AdditionalInfo":{"type":"object","properties":{"allowCategory":{"type":"array","items":{"type":"string"}}}},"DocumentDto":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"objectType":{"type":"string","enum":["PERSON","CONTRACT","COLLATERAL","BILL_NO","ACCOUNT_NO","LINKAGE","SUNDRY","SUB_ACCOUNT","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","DISPUTE_SUPREME","EXPENSE","CONDITION_APPEAL","CONDITION_SUPREME","SEIZURE_LED","WITHDRAW_SEIZURE_LED","DEFERMENT_EXEC","AUCTION_EXPENSE","AUCTION","EXTERNAL_PAYMENT_TRACKING_DEED_GROUP","CASHIER_CHEQUE","CHEQUE_ADDITIONAL_PAYMENT","CASHIER_CHEQUE_TRANSFER_OWNERSHIP","DEED_GROUP_ID","CONV_DOC_UPLOAD_ID","CONVY_ACC_DOC_FOLLOWUP_ID","AUC_BIDDING_ID","AUC_REF","AUC_BIDDING_DEED_GROUP_ID","WITHDRAW_SEIZURES_COLLATERALS_CONSENT_DOCUMENT","DEBT_SETTLEMENT_DOCUMENT","ACCOUNT","ASSET","ASSET_INVESTIGATION","AUCTION_CASHIER_CHEQUE_TRANSFER_OWNERSHIP","DEBT_SETTLEMENT_ACCOUNT","PREFERENCE"]},"objectId":{"type":"string"},"imageSource":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"imageId":{"type":"string"},"imageName":{"type":"string"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateDto"},"storeOrganization":{"type":"string"},"storeOrganizationName":{"type":"string"},"handlingOrganization":{"type":"string"},"holderOrganization":{"type":"string"},"holderOrganizationName":{"type":"string"},"uploadUserOrganizationName":{"type":"string"},"hasOriginalCopy":{"type":"boolean"},"active":{"type":"boolean"},"documentDate":{"type":"string","format":"date-time"},"uploadUserId":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"object"}},"documentCommitmentId":{"type":"string"},"documentTemplateId":{"type":"string"},"commitmentAccounts":{"type":"array","items":{"type":"string"}},"sent":{"type":"boolean"},"received":{"type":"boolean"},"dimsTicketBarcode":{"type":"string"},"sendDate":{"type":"string","format":"date"},"receiveDate":{"type":"string","format":"date"},"customerId":{"type":"string"},"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"additionalInfo":{"$ref":"#/components/schemas/AdditionalInfo"},"rejectedReasons":{"type":"array","items":{"$ref":"#/components/schemas/RejectedReasonDto"}},"dimsHardCopyStatus":{"type":"string","enum":["FOUND","NOT_FOUND","IN_PROGRESS"]},"dimsHardCopyRequestDate":{"type":"string","format":"date-time"},"hardCopyState":{"type":"string","enum":["SUCCESS","IN_PROGRESS","REJECT","DISABLE","OPEN"]}}},"RejectedDocumentInfo":{"type":"object","properties":{"documentName":{"type":"string"},"pageCount":{"type":"integer","format":"int32"}}},"RejectedReasonDto":{"type":"object","properties":{"rejectedReasonId":{"type":"string"},"rejectedReasonCode":{"type":"string"},"rejectedReasonName":{"type":"string"},"rejectedRemarks":{"type":"string"},"rejectedDate":{"type":"string","format":"date-time"},"rejectedUserId":{"type":"string"},"rejectedUserName":{"type":"string"},"rejectedUserRole":{"type":"string"},"rejectedUserSubRole":{"type":"string"},"rejectedDocumentInfo":{"$ref":"#/components/schemas/RejectedDocumentInfo"}}},"LitigationFollowupDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"string"},"userName":{"type":"string"},"followupDate":{"type":"string","format":"date"},"litigationStatus":{"type":"string"},"followupStatus":{"type":"string"},"remark":{"type":"string"},"litigationId":{"type":"string"}}},"DocumentSendItem":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"sent":{"type":"boolean"}}},"DocumentSendRequest":{"required":["documents","headerFlag"],"type":"object","properties":{"headerFlag":{"type":"string","description":"Header Flag // DRAFT,SUBMIT","example":"DRAFT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentSendItem"}},"taskId":{"type":"integer","format":"int64"}}},"AdditionalDocument":{"type":"object","properties":{"documentName":{"type":"string"},"litigationId":{"type":"string"},"customerId":{"type":"string"}}},"Document":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"success":{"type":"boolean"}}},"SendReceiveDocumentDto":{"type":"object","properties":{"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"taskStatus":{"type":"string"},"hasLogisticDoc":{"type":"boolean"},"additionalDocuments":{"type":"array","items":{"$ref":"#/components/schemas/AdditionalDocument"}}}},"DocumentReceiveItem":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"received":{"type":"boolean"},"dimsTicketBarcode":{"type":"string"},"receiveDate":{"type":"string","format":"date"},"rejectedReasonDto":{"$ref":"#/components/schemas/RejectedReasonRequest"}}},"DocumentReceiveRequest":{"required":["documents","headerFlag"],"type":"object","properties":{"headerFlag":{"type":"string","description":"Header Flag // DRAFT,SUBMIT","example":"DRAFT","enum":["DRAFT","SUBMIT","APPROVE","REJECT","CANCEL","DELETE","UPDATE","SUBMIT1","SUBMIT2","SAVE"]},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentReceiveItem"}},"rejectedExceedDocuments":{"type":"array","items":{"$ref":"#/components/schemas/RejectedDocumentInfo"}},"taskId":{"type":"integer","format":"int64"}}},"RejectedReasonRequest":{"type":"object","properties":{"rejectedReasonCode":{"type":"string"},"rejectedRemarks":{"type":"string"},"rejectedDocumentInfo":{"$ref":"#/components/schemas/RejectedDocumentInfo"}}},"CollateralInfoRequest":{"type":"object","properties":{"assets":{"type":"array","items":{"$ref":"#/components/schemas/CollateralRequest"}}}},"CollateralRequest":{"type":"object","properties":{"collateralId":{"type":"string"},"collateralTypeCode":{"type":"string"},"collateralSubTypeCode":{"type":"string"},"description":{"type":"string"},"collateralStatusCode":{"type":"string"},"botCode":{"type":"string"},"botSubCode":{"type":"string"},"totalAppraisalValue":{"type":"number"},"appraisalDate":{"type":"string","format":"date"},"legalStatus":{"type":"string"},"remark":{"type":"string"},"appraisalPrice":{"type":"number"},"documentNo":{"type":"string"},"subdistrictCode":{"type":"string"},"districtCode":{"type":"string"},"provinceCode":{"type":"s
[...]
