{"openapi":"3.0.1","info":{"title":"KTB Backend for Frontend APIs.","description":"Microservice: preference","contact":{"name":"Krungthai Bank Public Company Limited","url":"https://krungthai.com","email":""},"version":"1.0.0"},"servers":[{"url":"https://lexsdev.krungthai/ktb/rest/lexs","description":"Generated server url"}],"security":[{"Authorization":["token"]}],"paths":{"/v1/preference/{taskId}/assignLawyer":{"post":{"tags":["preference-controller"],"operationId":"assignLawyer","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignLawyerRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/preference/{taskId}/approve":{"post":{"tags":["preference-controller"],"operationId":"approve","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferenceApproveRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/preference/save":{"post":{"tags":["preference-controller"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferenceDetails"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v1/preference/{taskId}/getAssignLawyer":{"get":{"tags":["preference-controller"],"operationId":"getAssignLawyer","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShotLexsUser"}}}}}}}},"/v1/preference/{preferenceGroupNo}/inquiryDetails":{"get":{"tags":["preference-controller"],"operationId":"inquiryDetails","parameters":[{"name":"preferenceGroupNo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferenceDetails"}}}}}}},"/v1/preference/{litigationId}/getPreference":{"get":{"tags":["preference-controller"],"operationId":"getPreference","parameters":[{"name":"litigationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PreferenceGroupDto"}}}}}}}},"/v1/preference/inquiryPreferenceGroup":{"get":{"tags":["preference-controller"],"operationId":"inquiryPreferenceGroups","parameters":[{"name":"tabName","in":"query","required":true,"schema":{"type":"string","enum":["USER","TEAM","ORG","CLOSED","DASHBOARD","PREFERENCE","NOT_PREFERENCE","ALL"]}},{"name":"preferenceGroupNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"litigationId","in":"query","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePreferenceGroupDto"}}}}}}},"/v1/preference/inquiryCustomer":{"get":{"tags":["preference-controller"],"operationId":"inquiryCustomer","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"identificationId","in":"query","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInquiryCustomerResponse"}}}}}}},"/v1/preference/inquiryCollaterals":{"get":{"tags":["preference-controller"],"operationId":"inquiryCollaterals","parameters":[{"name":"billNo","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"preferenceGroupNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"mode","in":"query","required":true,"schema":{"type":"string","enum":["ADD","VIEW","EDIT"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InquiryCollateralResponse"}}}}}}}},"/v1/preference/inquiryAccount":{"get":{"tags":["preference-controller"],"operationId":"inquiryAccount","parameters":[{"name":"customerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"preferenceGroupNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"mode","in":"query","required":true,"schema":{"type":"string","enum":["ADD","VIEW","EDIT"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InquiryAccountResponse"}}}}}}}}},"components":{"schemas":{"AssignLawyerRequest":{"type":"object","properties":{"lawyerId":{"type":"string"}}},"PreferenceApproveRequest":{"type":"object","properties":{"approvalStatus":{"type":"string","enum":["APPROVE","REJECT","RETURN"]},"rejectReason":{"type":"string"}}},"AdditionalInfo":{"type":"object","properties":{"allowCategory":{"type":"array","items":{"type":"string"}}}},"DocumentDto":{"type":"object","properties":{"documentId":{"type":"integer","format":"int64"},"objectType":{"type":"string","enum":["PERSON","CONTRACT","COLLATERAL","BILL_NO","ACCOUNT_NO","LINKAGE","SUNDRY","SUB_ACCOUNT","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","DISPUTE_SUPREME","EXPENSE","CONDITION_APPEAL","CONDITION_SUPREME","SEIZURE_LED","WITHDRAW_SEIZURE_LED","DEFERMENT_EXEC","AUCTION_EXPENSE","AUCTION","EXTERNAL_PAYMENT_TRACKING_DEED_GROUP","CASHIER_CHEQUE","CHEQUE_ADDITIONAL_PAYMENT","CASHIER_CHEQUE_TRANSFER_OWNERSHIP","DEED_GROUP_ID","CONV_DOC_UPLOAD_ID","CONVY_ACC_DOC_FOLLOWUP_ID","AUC_BIDDING_ID","AUC_REF","AUC_BIDDING_DEED_GROUP_ID","WITHDRAW_SEIZURES_COLLATERALS_CONSENT_DOCUMENT","DEBT_SETTLEMENT_DOCUMENT","ACCOUNT","ASSET","ASSET_INVESTIGATION","AUCTION_CASHIER_CHEQUE_TRANSFER_OWNERSHIP","DEBT_SETTLEMENT_ACCOUNT","PREFERENCE"]},"objectId":{"type":"string"},"imageSource":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"imageId":{"type":"string"},"imageName":{"type":"string"},"documentTemplate":{"$ref":"#/components/schemas/DocumentTemplateDto"},"storeOrganization":{"type":"string"},"storeOrganizationName":{"type":"string"},"handlingOrganization":{"type":"string"},"holderOrganization":{"type":"string"},"holderOrganizationName":{"type":"string"},"uploadUserOrganizationName":{"type":"string"},"hasOriginalCopy":{"type":"boolean"},"active":{"type":"boolean"},"documentDate":{"type":"string","format":"date-time"},"uploadUserId":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"object"}},"documentCommitmentId":{"type":"string"},"documentTemplateId":{"type":"string"},"commitmentAccounts":{"type":"array","items":{"type":"string"}},"sent":{"type":"boolean"},"received":{"type":"boolean"},"dimsTicketBarcode":{"type":"string"},"sendDate":{"type":"string","format":"date"},"receiveDate":{"type":"string","format":"date"},"customerId":{"type":"string"},"litigationId":{"type":"string"},"litigationCaseId":{"type":"integer","format":"int64"},"additionalInfo":{"$ref":"#/components/schemas/AdditionalInfo"},"rejectedReasons":{"type":"array","items":{"$ref":"#/components/schemas/RejectedReasonDto"}},"dimsHardCopyStatus":{"type":"string","enum":["FOUND","NOT_FOUND","IN_PROGRESS"]},"dimsHardCopyRequestDate":{"type":"string","format":"date-time"},"hardCopyState":{"type":"string","enum":["SUCCESS","IN_PROGRESS","REJECT","DISABLE","OPEN"]}}},"DocumentTemplateDto":{"type":"object","properties":{"documentTemplateId":{"type":"string"},"documentName":{"type":"string"},"searchType":{"type":"string","enum":["LEXS","IMP","DIMS","LG","PN","FCS","TFS","LCS","RLS"]},"documentGroup":{"type":"string","enum":["LITIGATION","NOTICE","EFILING","COURT_FEE","PERSON","PERSON_LCS","COLLATERAL_CONTRACT","COLLATERAL","COLLATERAL_APPRAISAL","COLLATERAL_TCG_SUNDRY","COLLATERAL_INS_SUNDRY","COLLATERAL_INS_POLICY","COLLATERAL_OTHER","ACCOUNT_BILL","ACCOUNT_OTHER","ACCOUNT_CONTRACT","ACCOUNT_TFS","ACCOUNT_COMMITMENT","LINKAGE","DEFERMENT","CESSATION","APPEAL","SUPREME","DISPUTE_APPEAL","LEGAL_EXECUTION","SEIZURE","WITHDRAW_SEIZURE","AUCTION","ACCOUNT_DEBT_CALCULATION","AUCREFRESULT","AUCDEEDGROUPRESULT","AUCDEEDGROUPRETURN","AUCBIDRESULT","DEBT_SETTLEMENT","ASSET","PREFERENCE"]},"needHardCopy":{"type":"boolean"},"optional":{"type":"boolean"},"forNoticeLetter":{"type":"boolean"},"forLitigation":{"type":"boolean"},"requiredDocumentDate":{"type":"boolean"},"autoMatchType":{"type":"string"},"contentType":{"type":"string"},"generatedBySystem":{"type":"boolean"},"multipleUpload":{"type":"boolean"}}},"InquiryAccountResponse":{"type":"object","properties":{"accountNo":{"type":"string"},"billNo":{"type":"string"},"accountType":{"type":"string"},"dpd":{"type":"integer","format":"int32"},"stageAccount":{"type":"string"},"marketCode":{"type":"string"},"marketDescription":{"type":"string"},"totalAmount":{"type":"number"},"prescriptionDate":{"type":"string","format":"date"},"litigationId":{"type":"string"},"litigationStatus":{"type":"string"},"litigationStatusName":{"type":"string"},"blackCaseNo":{"type":"string"},"redCaseNo":{"type":"string"},"insertFlag":{"type":"string"},"selected":{"type":"boolean"},"tdrTrackingResult":{"type":"string"},"tdrDate":{"type":"string","format":"date"},"bookingCode":{"type":"string"},"bookingCodeName":{"type":"string"},"responseBranchCode":{"type":"string"},"responseBranchCodeName":{"type":"string"},"cfinalStage":{"type":"string"}}},"InquiryCollateralResponse":{"type":"object","properties":{"billNo":{"type":"string"},"collateralId":{"type":"string"},"collateralTypeCode":{"type":"string"},"collateralTypeDesc":{"type":"string"},"collateralSubTypeCode":{"type":"string"},"collateralSubTypeDesc":{"type":"string"},"documentNo":{"type":"string"},"description":{"type":"string"},"selected":{"type":"boolean"},"ownerName":{"type":"string"},"collateralCmsStatus":{"type":"string"},"collateralCaseLexStatus":{"type":"string"},"litigationIds":{"type":"string"},"totalAppraisalAmount":{"type":"number"}}},"InquiryCustomerResponse":{"type":"object","properties":{"cifNo":{"type":"string"},"fullName":{"type":"string"},"dpd":{"type":"integer","format":"int32"},"stageAccount":{"type":"string"},"amdResponseUnitCode":{"type":"string"},"amdResponseUnitName":{"type":"string"},"amdResponseUserId":{"type":"string"},"amdResponseUserName":{"type":"string"},"responseUnitCode":{"type":"string"},"responseUnitName":{"type":"string"},"responseUserId":{"type":"string"},"responseUserName":{"type":"string"},"branchCode":{"type":"string"},"branchName":{"type":"string"},"insertFlag":{"type":"string"},"selected":{"type":"boolean"},"cfinalStage":{"type":"string"}}},"LitigationCaseResponse":{"type":"object","properties":{"channel":{"type":"string"},"caseDate":{"type":"string","format":"date"},"capitalAmount":{"type":"number"},"blackCaseNo":{"type":"string"},"redCaseNo":{"type":"string"},"briefCase":{"type":"string"},"litigationCasePersons":{"type":"array","items":{"$ref":"#/components/schemas/LitigationPersonResponse"}},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}},"preferenceExternalPersons":{"type":"array","items":{"$ref":"#/components/schemas/PreferenceExternalPersonResponse"}}}},"LitigationPersonResponse":{"type":"object","properties":{"personId":{"type":"string"},"relation":{"type":"string"},"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"identificationNo":{"type":"string"}}},"PreferenceDetails":{"type":"object","properties":{"taskId":{"type":"integer","format":"int64"},"preferenceGroupNo":{"type":"string"},"executeType":{"type":"string","enum":["EXECUTE_DEED_LED","EXECUTE_AUCTION","EXECUTE_SEIZURE","EXECUTE_OTHER"]},"executeTypeRemark":{"type":"string"},"executeDate":{"type":"string","format":"date"},"receivedDate":{"type":"string","format":"date"},"executeNo":{"type":"string"},"courtCode":{"type":"string"},"redCaseNo":{"type":"string"},"customerId":{"type":"string"},"ledId":{"type":"string"},"sell":{"type":"string","enum":["SOLD_MORTGAGE","SOLD_NOT_MORTGAGE"]},"executeCaseType":{"type":"string","enum":["PREFERENCE","NOT_PREFERRANCE_HAVE_DEBT","NOT_PREFERRANCE_NOT_DEBT"]},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}},"customer":{"$ref":"#/components/schemas/InquiryCustomerResponse"},"accounts":{"type":"array","items":{"$ref":"#/components/schemas/InquiryAccountResponse"}},"collaterals":{"type":"array","items":{"$ref":"#/components/schemas/InquiryCollateralResponse"}},"litigationPersons":{"type":"array","items":{"$ref":"#/components/schemas/LitigationPersonResponse"}},"litigationCase":{"$ref":"#/components/schemas/LitigationCaseResponse"},"plaintiffName":{"type":"string"},"elementRedCaseCiosCode":{"type":"string"},"elementRedCaseRunning":{"type":"string"},"elementRedCaseYear":{"type":"string"},"createdBy":{"type":"string"},"createdByName":{"type":"string"},"approverRejectReason":{"type":"string"},"defendantName":{"type":"string"},"lawyerId":{"type":"string"},"lawyerName":{"type":"string"},"lawyerOfficeCode":{"type":"string"},"lawyerOfficeCodeName":{"type":"string"},"rejectReason":{"type":"string","enum":["DISCUSS_PLAINTIFF","PAY_PLAINTIFF","WITHDRAW_CONFISCATION","OTHER"]},"rejectedReasonRemark":{"type":"string"}}},"PreferenceExternalPersonResponse":{"type":"object","properties":{"fullName":{"type":"string"},"identificationNo":{"type":"string"},"relation":{"type":"string"}}},"RejectedDocumentInfo":{"type":"object","properties":{"documentName":{"type":"string"},"pageCount":{"type":"integer","format":"int32"}}},"RejectedReasonDto":{"type":"object","properties":{"rejectedReasonId":{"type":"string"},"rejectedReasonCode":{"type":"string"},"rejectedReasonName":{"type":"string"},"rejectedRemarks":{"type":"string"},"rejectedDate":{"type":"string","format":"date-time"},"rejectedUserId":{"type":"string"},"rejectedUserName":{"type":"string"},"rejectedUserRole":{"type":"string"},"rejectedUserSubRole":{"type":"string"},"rejectedDocumentInfo":{"$ref":"#/components/schemas/RejectedDocumentInfo"}}},"ShotLexsUser":{"type":"object","properties":{"userId":{"type":"string"},"fullName":{"type":"string"}}},"PreferenceGroupDto":{"type":"object","properties":{"preferenceGroupNo":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"executeType":{"type":"string","enum":["EXECUTE_DEED_LED","EXECUTE_AUCTION","EXECUTE_SEIZURE","EXECUTE_OTHER"]},"executeTypeName":{"type":"string"},"executeCaseType":{"type":"string","enum":["PREFERENCE","NOT_PREFERRANCE_HAVE_DEBT","NOT_PREFERRANCE_NOT_DEBT"]},"executeCaseTypeName":{"type":"string"},"createdBy":{"type":"string"},"createdByFullName":{"type":"string"},"litigationId":{"type":"string"},"preferenceStatus":{"type":"string","enum":["WAIT_APPROVED","APPROVED","REJECTED"]},"preferenceStatusName":{"type":"string"},"blackCaseNo":{"type":"string"},"redCaseNo":{"type":"string"},"lawyerOfficeCode":{"type":"string"},"lawyerOfficeName":{"type":"string"},"lawyerId":{"type":"string"},"lawyerName":{"type":"string"},"preferenceNo":{"type":"string"},"parentLitigationIds":{"type":"string"}}},"PagePreferenceGroupDto":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/PreferenceGroupDto"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"PageInquiryCustomerResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/InquiryCustomerResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}}},"securitySchemes":{"Authorization":{"type":"http","name":"Authorization","scheme":"bearer"}}}}