{
    "openapi": "3.0.1",
    "info": {
        "title": "KTB Backend for Frontend APIs.",
        "description": "Microservice: preference",
        "contact": {
            "name": "Krungthai Bank Public Company Limited",
            "url": "https://krungthai.com",
            "email": ""
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        },
        {
            "url": "https://lexsdev.krungthai/ktb/rest/lexs",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "PhonebookController",
            "description": "/v1/phonebook"
        },
        {
            "name": "ConfigurationController",
            "description": "/v1/configuration"
        }
    ],
    "paths": {
        "/v1/user": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "inquiryUsers",
                "parameters": [
                    {
                        "name": "filterKeyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subRole",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dataScope",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageLexsUserDto"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "userController"
                ],
                "operationId": "saveMultipleUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maxItems": 2147483647,
                                "minItems": 1,
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/LexsUserRequest"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user/{userId}": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeLexsUserDto"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "userController"
                ],
                "operationId": "saveUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "userId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LexsUserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "tags": [
                    "userController"
                ],
                "operationId": "revokeUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "userId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v2/user/options": {
            "get": {
                "tags": [
                    "userControllerV2"
                ],
                "operationId": "inquiryUserOptions",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "subRoleCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fractionCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LexsUserOption"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/user/role-permissions/excel": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "inquiryRoleExcelDownload",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageLexsRolePermissionTemplateDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/user/options": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "inquiryUserOptions_1",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LexsUserOption"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/user/me": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeLexsUserDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/user/ktb-boss": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "getKtbBoss",
                "parameters": [
                    {
                        "name": "organizationCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LexsUserDto"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/user/excel": {
            "get": {
                "tags": [
                    "userController"
                ],
                "operationId": "inquiryUsersExcelDownload",
                "parameters": [
                    {
                        "name": "filterKeyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subRole",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dataScope",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageLexsDocExportDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/phonebook": {
            "get": {
                "tags": [
                    "PhonebookController"
                ],
                "operationId": "getPhonebookUser",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PhoneBookDto"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/phonebook/options": {
            "get": {
                "tags": [
                    "PhonebookController"
                ],
                "operationId": "getPhonebookOptions",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PhoneBookDto"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/response-unit-map-tasks": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryResponseUnitMapTasks",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "responseUnitCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "taskId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageResponseUnitUserDto"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "postResponseUnitMapTasks",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResponseUnitMapTasksRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseUnitMapTasksResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/lexs-config": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryConfig",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LexsConfigDto"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "updateConfig",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LexsConfigRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LexsConfigResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/sub-role-map": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquirySubRoleMap",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LexsSubRole"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/role": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryRole",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LexsRole"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/role-permission-template": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryRoleTemplate",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RolePermissionTemplateDto"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/role-organization-maps": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryRoleOrganizationMaps",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InquiryRoleOrganizationMapsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/role-level-map": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryRoleLevelMap",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoleLevelMap"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/response-unit-users": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryResponsibleUsers",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "responseUnitCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageResponseUnitUserDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/organization-map": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "inquiryOrganizationMap",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OrganizationMap"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/configuration/expense-config/{expenseTypeCode}": {
            "get": {
                "tags": [
                    "ConfigurationController"
                ],
                "operationId": "getExpenseTypeCode",
                "parameters": [
                    {
                        "name": "expenseTypeCode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseConfigDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/ktb-org/options": {
            "post": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getKtbOrgOptions",
                "parameters": [
                    {
                        "name": "searchString",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KtbOrgRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KtbOrgDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/write-off-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getWriteOffStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WriteOffStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/title": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getTitle",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TitleDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/tax-rate/{expenseTypeCode}": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getTaxRate",
                "parameters": [
                    {
                        "name": "expenseTypeCode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxRateDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/task-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getTaskType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/task-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getTaskStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/tamc-flag": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getTamcFlag",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TamcFlagDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/suspens-execution": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getSuspensExecution",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuspensExecutionDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/subdistrict": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getSubdistrict",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubdistrictDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/scope": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getScope",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScopeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/sam-flag": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getSamFlag",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamFlagDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/sale-type-desc": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getSaleTypeDesc",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SaleTypeDescDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/result-of-action": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getResultOfAction",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultOfActionDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/reject-original-document-reason": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getRejectOriginalDocumentReason",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectOriginalDocumentReasonDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/receive-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getReceiveType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReceiveTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/receive-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getReceiveStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReceiveStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/receive-cancel-reason": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getReceiveCancelReason",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReceiveCancelReasonDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/receive-account-code": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getReceiveAccountCode",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReceiveAccountCodeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/province": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getProvince",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProvinceDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/occupant": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getOccupant",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OccupantDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/obligation-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getObligationType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObligationTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/loan-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getLoanType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoanTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/litigation-result-of-action": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getLitigationResultOfAction",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LitigationResultOfActionDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/litigation-close-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getLitigationCloseStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LitigationCloseStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/litigation-action": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getLitigationAction",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LitigationActionDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/legal-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getLegalStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LegalStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/led": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getLed",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LedDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/ktb-org": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getKtbOrg",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KtbOrgDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/kcorp-transfer-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getKcorpTransferStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KcorpTransferStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/juristic-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getJuristicType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JuristicTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/followup-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getFollowUpStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FollowUpStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/financial-object-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getFinancialObjectType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FinancialObjectTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/financial-institutions": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getFinancialInstitutions",
                "parameters": [
                    {
                        "name": "purpose",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FinancialInstitutionsDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/financial-account-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getFinancialAccountType",
                "parameters": [
                    {
                        "name": "financialObjectType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FinancialAccountTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/financial-account-code": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getFinancialAccountCode",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FinancialAccountCodeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/external-asset-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExternalAssetStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExternalAssetStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseTypeCode",
                "parameters": [
                    {
                        "name": "stepCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stepSubCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseGroup",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "expenseTypeCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExpenseRateDto"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-step-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseStepType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExpenseStepType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-step-sub-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseStepSubType",
                "parameters": [
                    {
                        "name": "stepCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseGroup",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExpenseStepSubType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-revise-reason": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseReviseReason",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseReviseReasonDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-receive": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseReceive",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseReceiveDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-rate": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseRate",
                "parameters": [
                    {
                        "name": "stepCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stepSubCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseGroup",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "expenseTypeCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseSubTypeCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExpenseRateDto"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-object": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseObject",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseObjectDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-cancel-reason": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseCancelReason",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseCancelReasonDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/expense-action": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getExpenseAction",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseActionDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/done-by": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getDoneBy",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoneByDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/district": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getDistrict",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DistrictDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/deferment-reason": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getDefermentReson",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DefermentReasonDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/debtor": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getDebtor",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebtorDto"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/v1/master-data/debtor-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getDebtorStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebtorStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/debt-transfer-to": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getDebtTransferTo",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebtTransferToDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/customer-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCustomerStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourt",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-verdict": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtVerdict",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtVerdictDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-verdict-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtVerdictType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtVerdictTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-sub-verdict": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtSubVerdict",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtSubVerdictDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-order": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtOrder",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtOrderDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-fee-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtFeeType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtFeeTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/court-fee-sub-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCourtFeeSubType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourtFeeSubTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/collateral-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCollateralType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollateralTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/collateral-sub-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCollateralSubType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollateralSubTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/collateral-status": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCollateralStatus",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollateralStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/cios-case-types": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCiosCaseType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CiosCaseTypeDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/cessation-reason": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCessationReason",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CessationReasonDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/case-type": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCaseType",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaseTypeDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaseTypeDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaseTypeDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity (Business Error)",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "504": {
                        "description": "Gateway Timeout",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/case-creator": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getCaseCreator",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaseCreatorDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/approval-authority": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getApprovalAuthority",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApprovalAuthorityDto"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/v1/master-data/approval-authority/{defermentType}": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getApprovalAuthorityByType",
                "parameters": [
                    {
                        "name": "defermentType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DEFERMENT",
                                "CESSATION",
                                "DEFERMENT_EXEC_SEIZURE",
                                "DEFERMENT_EXEC_SALE",
                                "DEFERMENT_EXEC_SEIZURE_SALE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApprovalAuthorityDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/approval-authority-dla": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getApprovalAuthorityDla",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApprovalAuthorityDlaDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/master-data/allegations/{caseTypeCode}": {
            "get": {
                "tags": [
                    "masterDataController"
                ],
                "operationId": "getAllegation",
                "parameters": [
                    {
                        "name": "caseTypeCode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllegationDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllegationDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllegationDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity (Business Error)",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "headers": {
                            "x-request-id": {
                                "description": "36 characters unique ID used for traceability purpose. If provided on a request, the same value is echoed back. If not provided on a request, API generates and returns UUID.",
                                "style": "simple"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorsList"
                                }
                            }
                        }
                    },
                    "504": {
                        "description": "Gateway Timeout",
[...]
