@import '/src/styles/colors';
@import '/src/styles/typography';

.p-0 {
  padding: 0px;
}

.container {
  background-color: $white;
  min-height: 400px;
}

.header {
  font-size: $font-sub-description;
  color: map-get($ktb-palette-biz-gray, 900);
}

.detail {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: $font-description;
  color: map-get($ktb-palette-biz-gray, 900);
  margin-right: 16px;
}

.data-table-content {
  padding-top: 16px;

  .table-btn-group {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .yellow-golden {
    color: map-get($ktb-palette-golden-yellow, 700);
    background-color: map-get($ktb-palette-golden-yellow, 100);
  }
}
