// @import '/src/styles/colors';

.my-mat-hint {
  line-height: 1.2em;
  transform: translateY(10px);
  font-size: 75%;
}
// color: map-get($ktb-palette-biz-gray, 900)
// ackground-color: $bg-almost-white !important;
// .mdc-list-item__primary-text {
// color: map-get($ktb-palette-biz-gray, 900) !important;
