@mixin breakpoint($point) {
  $ktb-lt-md: "(max-width: 959.9px)";
  $ktb-md: "(min-width: 960px) and (max-width: 1137.9px)";
  $ktb-gte-md: "(min-width: 960px)";
  $ktb-lt-lg: "(max-width: 1137.9px)";
  $ktb-lte-lg: "(max-width: 1279.9px)";
  $ktb-lg: "(min-width: 1138px) and (max-width: 1279.9px)";
  $ktb-gte-lg: "(min-width: 1138px)";
  $ktb-xlg: "(min-width: 1280px)";

  @if $point == ktb-xlg {
    @media #{$ktb-xlg} {
      @content;
    }
  } @else if $point == ktb-lt-xlg {
    @media #{$ktb-lte-lg} {
      @content;
    }
  } @else if $point == ktb-lg {
    @media #{$ktb-lg} {
      @content;
    }
  } @else if $point == ktb-gte-lg {
    @media #{$ktb-gte-lg} {
      @content;
    }
  } @else if $point == ktb-gt-lg {
    @media #{$ktb-xlg} {
      @content;
    }
  } @else if $point == ktb-lte-lg {
    @media #{$ktb-lte-lg} {
      @content;
    }
  } @else if $point == ktb-lt-lg {
    @media #{$ktb-lt-lg} {
      @content;
    }
  } @else if $point == ktb-md {
    @media #{$ktb-md} {
      @content;
    }
  } @else if $point == ktb-gte-md {
    @media #{$ktb-gte-md} {
      @content;
    }
  } @else if $point == ktb-gt-md {
    @media #{$ktb-gte-lg} {
      @content;
    }
  } @else if $point == ktb-lte-md {
    @media #{$ktb-lt-lg} {
      @content;
    }
  } @else if $point == ktb-lt-md {
    @media #{$ktb-lt-md} {
      @content;
    }
  } 
}
