.configuration-matching {
  .tab-group-content .search-filter-content {
    padding: 1.5em 0 !important;
  }

  .title-content {
    padding: 24px !important;
  }

  .mat-expansion-panel-spacing {
    margin-top: 0;
  }
}
