@import '/src/styles/colors';

.container {
  .header {
    padding: 20px 0 20px 0;
    .title {
      h4 {
        display: flex;
        margin: 0;
      }
    }
  }

  .accordion-headers-title {
    padding: 10px;
    background-color: map-get($ktb-palette-blue, 50);
  }
}
