.mat-column-obligationStatus,
.mat-column-assentRlsStatus {
  min-width: 120px;
  width: 120px;
}

.mat-column-collateralId,
.mat-column-collateralTypeDesc,
.mat-column-collateralSubTypeDesc,
.mat-column-documentNo {
  min-width: 140px;
  width: 140px;
}

.mat-column-ownerId,
.mat-column-totalAppraisalValue {
  min-width: 200px;
  width: 200px;
}

.mat-column-collateralDetails {
  min-width: 350px;
  width: 350px;
}

.content-table-paginator {
  width: fit-content;
}

.mat-column-orderNumber {
  left: 48px !important;
}
