.stepper {
  background-color: transparent !important;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}

::ng-deep {
  .mat-horizontal-stepper-header[aria-label='0'] {
    align-items: start !important;
  }
  .mat-horizontal-stepper-header[aria-label='1'] {
    align-items: end !important;
  }
  .mat-horizontal-stepper-header[aria-label='1'] {
    .mat-step-icon:not(.mat-step-icon-selected) {
      background-color: #abb5c1;
    }
    .mat-step-icon {
      background-color: #00a6e6;
    }
    .mat-step-label:not(.mat-step-label-selected) {
      color: #abb5c1;
    }
    .mat-step-label {
      color: #121212;
    }
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after {
    width: calc(71%) !important;
  }
}
