.dispute-detail-container {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  .title-content {
    padding: 2em;
  }

  .p-32 {
    padding: 32px;
  }

  .mh-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .text-align-right {
    text-align: right;
  }

  .full-width {
    width: 100%;
  }
}
