.col-withdraw-writ-of-exec-datetime {
  width: 120px;
}
.col-withdraw-writ-of-exec-reason {
  width: 580px;
}
.col-init-by {
  width: 220px;
}
.col-approval {
  width: 150px;
}
.col-public-auction-lawyer-name {
  width: 200px;
}
.col-withdraw-writ-of-exec-result {
  width: 200px;
}
