::ng-deep app-auciton-payment-result {
  .mat-expansion-panel-content {
    font-size: 16px;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.invalid .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label mat-label {
    color: #0009 !important;
  }

  .white-space-nm {
    white-space: normal;
  }
}