.ordernumber-first {
  width: 35px !important;
  max-width: 35px !important;
}

.selected-first {
  width: 18px !important;
  max-width: 18px !important;
}

.data-table-content {
  max-width: 100%;
}
