@import '/src/styles/colors';

.content-container.container {
  margin: 24px 0;
  padding: 16px;

  .title-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
  }

  button {
    box-shadow: none !important;

    &.blue {
      color: map-get($ktb-palette-precious-blue, 50);
      background-color: $bg-almost-white;
    }
  }
}

.bg-blue {
  background-color: $bg-almost-white;
}
